<div class="advantage-block-card {{ advantageBlockCard.backgroundColor }}-bg {{ styleModifier }}">

  <div class="block-image-wrapper" style="background-image: url({{ advantageBlockCard.backgroundImg }});">
  </div>

  <div class="block-content-wrapper">
    <h3 class="block-heading">{{ advantageBlockCard.heading }}</h3>
    <p class="block-text">{{ advantageBlockCard.copy }}</p>
  </div>

</div>


