<div class="image-carousel carousel {{ styleModifier }}" style="max-width:720px">
    {{# listItems.six}}
        {{> atoms-advantage-slide}}
    {{/ listItems.six}}
</div><!-- /.content-carousel -->
