<div class="brand-bar brand-bar-details">

  {{#brandBarDetails.third-color}}
  <div class="details-title bg-{{brandBarDetails.first-color}}">
    <a href="#" class="back-btn"></a>
    {{#brandBarDetails.view-map-button}}
        <p itemprop="address">Centre Pointe West
          <span itemprop="streetAddress">1313 13 Ave. SW, Calgary</span>
          <span itemprop="telephone">
            <a>(403) 123-1234</a>
            <span class="additional-text"><a>Seniors: (403) 123-1234</a></span>
          </span>
        </p>
    {{/brandBarDetails.view-map-button}}
  </div>
  {{/brandBarDetails.third-color}}

  <div class="brand-bar-logo bg-{{brandBarDetails.third-color}}">
    {{#brandBarDetails.communities}}
      {{> atoms-property-logo-communities-simple }}
    {{/brandBarDetails.communities}}
    {{#brandBarDetails.lifestyle}}
      {{> atoms-property-logo-lifestyle-simple }}
    {{/brandBarDetails.lifestyle}}
    {{#brandBarDetails.living}}
      {{> atoms-property-logo-living-simple }}
    {{/brandBarDetails.living}}
  </div><!-- /.brand-bar-logo -->
</div><!-- /.brand-bar -->
