<div class="brand-bar{{# brandBar.view-map-button}} w-map-button{{/ brandBar.view-map-button}}">
  <div class="brand-bar-logo bg-{{brandBar.first-color}}">
    <div class="container">
      {{#brandBar.communities}}
        {{> atoms-property-logo-communities }}
      {{/brandBar.communities}}
      {{#brandBar.lifestyle}}
        {{> atoms-property-logo-lifestyle }}
      {{/brandBar.lifestyle}}
      {{#brandBar.living}}
        {{> atoms-property-logo-living }}
      {{/brandBar.living}}
    </div>
  </div><!-- /.brand-bar-logo -->

  {{#brandBar.third-color}}
    {{# brandBar.view-map-button}}
    <button class="view-map-btn bg-{{brandBar.third-color}}" type="button" data-toggle="collapse" data-target="#mapAccordion" aria-expanded="false" aria-controls="mapAccordion" aria-label="View Map">
      <i class="icon icon-pin"></i> View Map
    </button>
    {{/ brandBar.view-map-button}}

    {{^ brandBar.view-map-button}}
      <div class="view-map-btn bg-{{brandBar.third-color}}"></div>
    {{/brandBar.view-map-button}}
  {{/brandBar.third-color}}

  {{# brandBar.view-map-button}}
    <a class="mobile-view-map-btn" href="#" aria-label="View Map">
      <i class="icon icon-pin"></i> View Map
    </a>
  {{/ brandBar.view-map-button}}
</div><!-- /.brand-bar -->

{{# brandBar.view-map-button}}
  <div class="map-accordion collapse" id="mapAccordion">
    {{> molecules-map(legend: false }}
  </div>
{{/ brandBar.view-map-button}}
