    <div class="career-filter container {{ styleModifier }}">

        <form method="post" action="#" id="">
            <div class="row">
                <div class="col-sm-12 col-md-4 p-md-2 mb-2">
                    <label class="dropdown__label mb-0">
                      <span class="visuallyhidden">Locations</span>
                      <select class="form-control form-control-lg" aria-label="All Locations">
                          <option>All Locations</option>
                          <option>Regina, Saskatchewan</option>
                          <option>Saskatoon, Saskatchewan</option>
                          <option>Nuns' Island, Québec</option>
                          <option>Calgary, Alberta</option>
                          <option>Edmonton, Alberta</option>
                          <option>London, Ontario</option>
                      </select>
                    </label>
                </div>
                <div class="col-sm-12 col-md-4 p-md-2 mb-2">
                    <label class="dropdown__label mb-0">
                      <span class="visuallyhidden">Departments</span>
                      <select class="form-control form-control-lg" aria-label="All Departments">
                        <option>
                          All Departments
                        </option>
                        <option>
                            Saskatchewan II Operations (Regina) (2)
                        </option>
                        <option>
                          Saskatchewan I Operations (Saskatoon) (2)
                        </option>
                        <option>
                          Quebec Operations
                        </option>
                        <option>
                            Purchasing & Contracts
                        </option>
                        <option>
                          PM Northern Alberta
                        </option>
                        <option>
                            Marketing
                        </option>
                        <option>
                          London Warehouse
                        </option>
                        <option>
                          IT
                        </option>
                        <option>
                            Wimbledon
                        </option>
                        <option>
                          Warwick Apartments
                        </option>
                        <option>
                            Village Plaza
                        </option>
                        <option>
                          Sturgeon Point Villas
                        </option>
                        <option>
                          Southgate Tower
                        </option>
                        <option>
                          Southern Alberta I Operations (3)
                        </option>
                        <option>
                          Solano House
                        </option>
                        <option>
                          Sarcee Trail Place
                        </option>
                        <option>
                          Riverbend Village Apartments
                        </option>
                        <option>
                          Qu'Appelle Village I & II
                        </option>
                        <option>
                          Prairie Sunrise Towers
                        </option>
                        <option>
                          Place Chamonix (2)
                        </option>
                        <option>
                          Pembroke Estates
                        </option>
                        <option>
                          Parkview Estates
                        </option>
                        <option>
                          Ontario I Operations (3)
                        </option>
                      </select>
                    </label>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3 p-md-2 mb-2">
                    <label class="dropdown__label mb-0">
                      <span class="visuallyhidden">Job Types</span>
                      <select class="form-control form-control-lg" aria-label="All Positions">
                          <option>All Job Types</option>
                          <option>Full Time</option>
                          <option>Part Time</option>
                          <option>Temp</option>
                          <option>Contract</option>
                          <option>Seasonal</option>
                      </select>
                    </label>
                </div>
                <div class="col-sm-12 col-lg-1 p-md-2">
                    {{> atoms-primary-icon-button:d-none|d-lg-block|mt-0 }}
                    {{> atoms-primary-button-submit:d-mg-block|d-lg-none|mt-3(primary-button-text:'Search')}}
                </div>
            </div> <!--/.row-->
        </form>
    </div> <!--/.container-->

