<div class="career-city-filter secondary-heading1 {{ styleModifier }}">

  <label class="dropdown__label mb-0">
    <span class="visuallyhidden">All Positions</span>
    <select class="form-control form-control-lg" aria-label="All Positions">
        <option>All Positions</option>
        <option>Full Time</option>
        <option>Part Time</option>
        <option>Temp</option>
        <option>Contract</option>
        <option>Seasonal</option>
    </select>
  </label>

  <label class="dropdown__label mb-0">
    <select>
        <option>All Locations</option>
        <option>Regina, Saskatchewan</option>
        <option>Saskatoon, Saskatchewan</option>
        <option>Nuns' Island, Québec</option>
        <option>Calgary, Alberta</option>
        <option>Edmonton, Alberta</option>
        <option>London, Ontario</option>
    </select>
  </label>

  <label class="dropdown__label mb-0">
    <select>
      <option>
        All Departments
      </option>
      <option>
          Saskatchewan II Operations (Regina) (2)
      </option>
      <option>
        Saskatchewan I Operations (Saskatoon) (2)
      </option>
      <option>
        Quebec Operations
      </option>
      <option>
          Purchasing & Contracts
      </option>
      <option>
        PM Northern Alberta
      </option>
      <option>
          Marketing
      </option>
      <option>
        London Warehouse
      </option>
      <option>
        IT
      </option>
      <option>
          Wimbledon
      </option>
      <option>
        Warwick Apartments
      </option>
      <option>
          Village Plaza
      </option>
      <option>
        Sturgeon Point Villas
      </option>
      <option>
        Southgate Tower
      </option>
      <option>
        Southern Alberta I Operations (3)
      </option>
      <option>
        Solano House
      </option>
      <option>
        Sarcee Trail Place
      </option>
      <option>
        Riverbend Village Apartments
      </option>
      <option>
        Qu'Appelle Village I & II
      </option>
      <option>
        Prairie Sunrise Towers
      </option>
      <option>
        Place Chamonix (2)
      </option>
      <option>
        Pembroke Estates
      </option>
      <option>
        Parkview Estates
      </option>
      <option>
        Ontario I Operations (3)
      </option>
    </select>
  </label>

  <label class="dropdown__label mb-0">
    <select>
        <option>Sort List</option>
        <option>Newest - Oldest</option>
        <option>Oldest - Newest</option>
        <option>A - Z</option>
        <option>Z - A</option>
    </select>
  </label>

</div>
