<section class="content-w-aside {{styleModifier}} pb-0" itemscope itemtype="http://schema.org/JobPosting">
  <div class="container row justify-content-center">
    <div class="col-12 col-md-10 order-lg-last">
      <h2 class="secondary-heading mb-0" itemprop="jobTitle">
          Maintenance Associate
        <span class="sub-heading mt-1" itemprop="employmentType">
            Full-Time, Contract
        </span>
      </h2>
    </div>
    <div class="col-12 col-md-2 mt-3">
      <a class="back-link blue" href="#">Back to careers</a>
    </div>
  </div>
  <div class="container">
    <aside class="left-rail left-rail-copy">
        <div class="left-rail-content">
          <p>
            <strong>Posted:</strong> <time datetime='2017-08-28' itemprop="datePosted">September 28, 2017</time>
            <span itemprop="addressLocality"><em>Boardwalk Edmonton</em></span>
          </p>
          <p>
            <strong>Please submit your resume to: </strong>
            Human Resources<br/>
            200, 8930 Jasper Avenue , Edmonton AB, T5H 4E9<br/>
            <strong>Fax:</strong> 1-866-686-0982
          </p>
        </div>
    </aside><!-- /.left-rail -->
    <div class="right-content">
      <div class="right-rail-content">
        <article class="content-container sub-page clearfix">

          <h3 class="mb-1">Job Responsibilities:</h3>
          <ul itemprop="responsibilities">
            <li>Ensure the health, comfort and safety of our Customers</li>
            <li>Ensure daily communication with all site Associates</li>
            <li>Address Customer Requests for Maintenance (CRFM’s) within 72 hours</li>
            <li>Vacant suite maintenance and touch ups as per established quality standards</li>
            <li>General common area and building maintenance</li>
            <li>Coordinate inspections of turnover suites with Customer Service Representatives </li>
            <li>Ensure proper cleaning and maintenance of equipment</li>
            <li>Preventative Maintenance inspections and reporting</li>
            <li>Ensure contractors arrive as per scheduled timelines and complete their work as per the conditions of contract</li>
            <li>Snow removal as required</li>
            <li>Touch-up painting as required</li>
            <li>Ensure proper and accurate inventory management</li>
            <li>Perform on call emergency maintenance according to schedule provided by Area Coordinator</li>
            <li>Complete all required administration for the position on a tablet</li>
            <li>Complete other tasks as assigned by the Area Coordinator</li>
          </ul>

          <h3 class="mb-1">Experience and Educational Requirements:</h3>
          <ul itemprop="educationRequirements">
            <li>2 years Maintenance service experience preferred</li>
            <li>3-5 years Renovation experience preferred</li>
          </ul>

          <h3 class="mb-1">Technical Requirements:</h3>
          <ul itemprop="qualifications">
            <li>Working knowledge of English language both verbal and written</li>
            <li>Familiarity with computer / tablets is an asset</li>
          </ul>

          <h3 class="mb-1">Non-Technical Requirements:</h3>
          <ul itemprop="qualifications">
            <li>Strong commitment to providing excellent customer service</li>
            <li>Ability to fix the problem correctly the first time</li>
            <li>Dedicated to building better communities for all our Customers and surrounding communities</li>
            <li>Ability to take responsibility for all actions and decisions and to follow through until a resolution is obtained</li>
            <li>Exceptional problem-solving and decision-making capabilities </li>
            <li>Strong planning and organizational skills coupled with ability to multi-task and prioritize (excellent time-management skills)</li>
            <li>Ability to work independently (self managed) and with other Associates in a team environment</li>
            <li>Ability to learn quickly, adapt to change and be flexible in nature</li>
            <li>Displays a high level of initiative and commitment to excellence</li>
            <li>Demonstrates a positive attitude, enthusiasm and assertiveness</li>
            <li>Ensure have all tool on the tool list prior to end of probationary period</li>
            <li>Ability to spend up to eight hours walking, standing, climbing stairs, lifting</li>
            <li>Ability to maneuver up to 90kg with the proper equipment</li>
          </ul>

        </article>
      </div>
    </div><!-- ./right-content -->
  </div>
</section><!-- /.centred-cta -->
