
<section class="contact-form {{ styleModifier }}">
    <div class="container">
        <form>

            <div class="row">
                <div class="col"></div>

                <div class="col-sm-12 col-md-10">
                    <h2 class="secondary-heading white text-center">
                      STILL HAVE QUESTIONS for out community team? LET US KNOW!
                    </h2>
                </div>

                <div class="col"></div>
            </div>

            <div class="row">
                <div class="col"></div>
                <div class="col-sm-12 col-md-10 project-contacts">
                    <ul class="list-unstyled">
                        <li class="contact-info mb-5 mb-lg-3" itemscope="" itemtype="http://schema.org/Person">
                            <div class="d-flex justify-content-center flex-wrap">
                                <div class="pl-2 pb-2 bd-highlight" itemprop="name">
                                    BRENTVIEW TOWERS,
                                </div>
                                <div class="pl-2 pb-2 mr-2 bd-highlight" itemprop="jobTitle">
                                    Community Office
                                </div>
                                <div class="pl-2 pb-2 bd-highlight" itemprop="telephone">
                                    <a href="tel://306-986-2424" class="blue">
                                        Phone: 306-986-2424
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="contact-info mb-5 mb-lg-3" itemscope="" itemtype="http://schema.org/Person">
                            <div class="d-flex justify-content-center flex-wrap">
                                <div class="pl-2 pb-2 bd-highlight " itemprop="name">
                                    Cecillia Mejia,
                                </div>
                                <div class="pl-2 pb-2 mr-2 bd-highlight" itemprop="jobTitle">
                                    Community Coordinator
                                </div>
                                <div class="pl-2 pb-2 bd-highlight" itemprop="telephone">
                                    <a href="tel://306-986-2424" class="blue">
                                        Phone: 306-986-2424
                                    </a>
                                </div>
                                <div class="pl-2 pb-2 bd-highlight"  itemprop="telephone">
                                    <a href="tel://306-343-3998" class="blue">
                                        Cell: 403-998-0062
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="contact-info mb-5 mb-lg-3" itemscope="" itemtype="http://schema.org/Person">
                            <div class="d-flex justify-content-center flex-wrap">
                                <div class="pl-2 pb-2 bd-highlight " itemprop="name">
                                    Tanya Szumlas,
                                </div>
                                <div class="pl-2 pb-2 mr-2 bd-highlight" itemprop="jobTitle">
                                    Community Director
                                </div>
                                <div class="pl-2 pb-2 bd-highlight"  itemprop="telephone">
                                    <a href="tel://306-343-3998" class="blue">
                                        Cell: 403-998-0062
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="col"></div>
            </div>


            <div class="row">
                <div class="col"></div>

                <div class="col-sm-12 col-md-10">
                    <h3 class="small-heading white text-center">
                      Or Email Us
                    </h3>
                </div>

                <div class="col"></div>
            </div>

            <div class="row">
                <div class="col"></div>

                <div class="col-sm-12 col-md-10">
                <!-- First Name & Last Name -->
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <label class="white" for="cf-firstname">First Name</label>
                            {{> atoms-input-text:form-control|form-control-lg(form-field-text-id:"cf-firstname",form-field-text-placeholder:"First Name")}}
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="white" for="cf-lastname">Last Name</label>
                            {{> atoms-input-text:form-control|form-control-lg(form-field-text-id:"cf-lastname",form-field-text-placeholder:"Last Name")}}
                        </div>
                    </div> <!--/.row -->
                </div>

                <div class="col"></div>
            </div>

            <div class="row">
                <div class="col"></div>

                <div class="col-sm-12 col-md-10">
                <!-- Email & Phone -->
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <label class="white" for="cf-email">Email</label>
                            {{> atoms-input-email:form-control|form-control-lg(form-field-email-id:"cf-email",form-field-email-placeholder:"eg. jsmith@bwalk.ca")}}
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="white" for="cf-phone">Phone</label>
                            {{> atoms-input-tel:form-control|form-control-lg(form-field-tel-id:"cf-phone",maxlength:"13")}}
                        </div>
                    </div> <!--/.row -->
                </div>

                <div class="col"></div>
            </div>

            <div class="row">
                <div class="col"></div>

                <div class="col-sm-12 col-md-10">

                <!-- Contact by -->
                    <div class="row">
                        <div class="col">
                            <div class="form-check form-check-inline">
                                {{> atoms-radio-button:white(form-field-radio-id:"inline-radio-phone",form-field-radio-name:"contactBy",form-field-radio-value:"phone",form-field-radio-text:"Preferred contact by phone")}}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check form-check-inline">
                                {{> atoms-radio-button:white(form-field-radio-id:"inline-radio-email",form-field-radio-name:"contactBy",form-field-radio-value:"email",form-field-radio-text:"Preferred contact by email")}}
                            </div>
                        </div>
                    </div> <!--/.row -->

                </div>

                <div class="col"></div>
            </div>

            <div class="row">
                <div class="col"></div>

                <div class="col-sm-12 col-md-10">
                <!-- Message -->
                    <div class="row">
                        <div class="col-12">
                          <label class="white" for="cf-message">Message</label>
                          {{> atoms-textarea:form-control|form-control-lg(form-field-textarea-id:"cf-message",form-field-textarea-placeholder:"")}}

                      </div>
                    </div>
                </div>

                <div class="col"></div>
            </div>

            <div class="row">
                <div class="col"></div>

                <div class="col-sm-12 col-md-10">
                <!-- Upload image -->
                    <div class="row">
                        <div class="col-12 col-md-6">
                          <p class="white icon-attachment"> Add an image</p>
                        </div>
                        <div class="col-12 col-md-6 text-right">
                          {{> atoms-primary-button:white(primary-button-text:"Submit Inquiry")}}
                        </div>
                    </div> <!--/.row -->
                </div>

                <div class="col"></div>
            </div>

        </form>
    </div> <!--/.container -->
</section> <!--/.contact-form-->
