<div class="file-card">
    <i class="icon presentation"></i>
    <div class="file-card-text">
        <h4 class="file-card-title">Q3 2018</h4>
        <a class="open-file blue" href="">View File</a>
    </div>
</div>
<div class="file-card">
    <i class="icon presentation"></i>
    <div class="file-card-text">
        <h4 class="file-card-title">Q3 2018</h4>
        <a class="open-file blue" href="">View File</a>
    </div>
</div>
<div class="file-card">
    <i class="icon presentation"></i>
    <div class="file-card-text">
        <h4 class="file-card-title">Q3 2018</h4>
        <a class="open-file blue" href="">View File</a>
    </div>
</div>
<div class="file-card">
    <i class="icon presentation"></i>
    <div class="file-card-text">
        <h4 class="file-card-title">Q3 2018</h4>
        <a class="open-file blue" href="">View File</a>
    </div>
</div>