<section class="half-and-half-block {{ styleModifier }} {{# halfAndHalf.reversed }}half-and-half-reversed{{/ halfAndHalf.reversed }}">
    <div class="left-half">
        <div class="half-and-half-content{{# halfAndHalf.centredText }} text-center{{/ halfAndHalf.centredText }}">
            {{# halfAndHalf.headingIsLogo }}
             {{> atoms-property-logo-communities:property-logo-white }}
            {{/ halfAndHalf.headingIsLogo }}
            {{^ halfAndHalf.headingIsLogo }}
            <h3 class="secondary-heading">{{ halfAndHalf.heading }}</h3>
            {{/ halfAndHalf.headingIsLogo}}

            {{# halfAndHalf.copy }}
                <p>{{{ halfAndHalf.copy }}}</p>
            {{/ halfAndHalf.copy }}

            {{# halfAndHalf.linkText }}
                <a class="arrow-link {{ halfAndHalf.linkColor }}" href="{{ halfAndHalf.linkUrl }}">{{ halfAndHalf.linkText }}</a>
            {{/ halfAndHalf.linkText }}
            {{# halfAndHalf.buttonText }}
                <a class="btn btn-primary white {{ halfAndHalf.linkColor }}" href="{{ halfAndHalf.linkUrl }}">{{ halfAndHalf.buttonText }}</a>
            {{/ halfAndHalf.buttonText }}
        </div><!-- /.half-and-half-content -->
    </div><!-- /.left-half -->

    <div class="right-half">
        <div class="half-and-half-imagery">
          {{# halfAndHalf.imageType.single }}
            <img src="http://via.placeholder.com/1170x600" alt="" title="" />
          {{/ halfAndHalf.imageType.single }}

          {{# halfAndHalf.imageType.multiple }}
            {{> molecules-image-carousel }}
          {{/ halfAndHalf.imageType.multiple }}
        </div><!-- /.half-and-half-imagery -->
    </div><!-- /.right-half -->
</section><!-- /.half-half-block -->
