<section class="map-holder {{ styleModifier }}{{# brandBar.mapOption.hideInitially }} initial-map-hide{{/ brandBar.mapOption.hideInitially }}">
  <div class="map-wrap"><div id="map-frame" role="presentation" aria-hidden="true"></div><!-- /#map-frame --></div><!-- /.map-wrap -->
  {{# mapOption.legend }}
    <ul class="map-legend">
      <li class="lifestyle-marker">Boardwalk Lifestyle</li>
      <li class="communities-marker">Boardwalk Community</li>
      <li class="living-marker">Boardwalk Living</li>
    </ul><!-- /.map-legend -->
  {{/ mapOption.legend }}
</section><!-- /.map-holder -->
