<section class="related-stories">
    <div class="container">


      {{# listItems.two }}

      <div class="related-item bg-{{ relatedStory.background }}">

        {{# relatedStory.imgTileFirst }}
        <img src="{{ relatedStory.imgSrc }}" alt="" title="" />
        <div class="item-content">

          <h4 class="secondary-heading">{{ relatedStory.heading }}</h4>

          {{# relatedStory.copy }}
            <p>{{ relatedStory.copy }}</p>
          {{/ relatedStory.copy }}

          {{# relatedStory.textLinkText }}
            <a class="arrow-link {{ relatedStory.linkColor }}" href="{{ relatedStory.linkUrl }}">{{ relatedStory.textLinkText }}</a>
          {{/ relatedStory.textLinkText }}

        </div><!-- /.item-content -->
        {{/ relatedStory.imgTileFirst }}
        {{^ relatedStory.imgTileFirst }}
        <div class="item-content">

          <h4 class="secondary-heading">
            {{# relatedStory.subheading }}
              <span class="sub-heading">{{ relatedStory.subheading }}</span>
            {{/ relatedStory.subheading }}

            {{ relatedStory.heading }}
          </h4>

          {{# relatedStory.copy }}
            <p>{{ relatedStory.copy }}</p>
          {{/ relatedStory.copy }}

          {{# relatedStory.textLinkText }}
            <a class="arrow-link {{ relatedStory.linkColor }}" href="{{ relatedStory.linkUrl }}">{{ relatedStory.textLinkText }}</a>
          {{/ relatedStory.textLinkText }}

        </div><!-- /.item-content -->
        <img src="{{ relatedStory.imgSrc }}" alt="" title="" />
        {{/ relatedStory.imgTileFirst }}

      </div><!-- /.related-item -->


      {{/ listItems.two }}

    </div>
</section><!-- /.related-items -->
