<div class="search-block" style="background-image: url(https://picsum.photos/300/300/any);">
  <div class="search-block-content">
    {{> atoms-secondary-heading }}
    <p>{{ block-content }}</p>
  </div><!-- /.search-block-content -->
  <form>
    <fieldset>
        <div class="d-md-flex flex-row justify-content-center align-items-center">
          <div class="p-2 dropdown">{{> atoms-select:form-control|form-control-lg(form-field-select-placeholder:"Choose City") }}</div>
          <div class="p-2">
              {{> atoms-primary-icon-button }}
              {{> atoms-input-button:d-sm-block|d-md-none(input-button-type:"submit",input-button-text:"Search") }}
          </div>
        </div>
    </fieldset>
    </form>
</div><!-- /.search-block -->
