<section class="hp-stories-blocks">
    <div class="stories-block">
        {{> atoms-secondary-heading }}
        <p>This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        {{> atoms-primary-button:white }}
    </div><!-- /.stories-block -->

    <div class="stories-block">
        <a href="https://www.youtube.com/watch?v=XIMLoLxmTDw" class="video-modal" aria-label="Video Title">
            <picture class="bucket-image">
                <source srcset="https://picsum.photos/960/820/?random" media="(min-width: 45em)">
                <img src="https://picsum.photos/480/410/?random" alt="" title="">
            </picture><!-- /.bucket-image -->
        </a>
    </div><!-- /.stories-block -->

    <div class="stories-block">
        <picture class="bucket-image">
            <source srcset="https://picsum.photos/960/820/?random" media="(min-width: 45em)">
            <img src="https://picsum.photos/480/410/?random" alt="" title="">
        </picture><!-- /.bucket-image -->
    </div><!-- /.stories-block -->

    <div class="stories-block">
        <picture class="bucket-image">
            <source srcset="https://picsum.photos/960/820/?random" media="(min-width: 45em)">
            <img src="https://picsum.photos/480/410/?random" alt="" title="">
        </picture><!-- /.bucket-image -->
    </div><!-- /.stories-block -->
</section><!-- /.hp-stories-blocks -->
