

<!-- Panels for push down navigation from main nav -->
{{>organisms-panel-find-your-home}}
{{>organisms-panel-investors}}
{{>organisms-panel-search}}
{{>organisms-mobile-navigation}}

<div class="wrapper">

    {{> organisms-header}}

    {{> molecules-jumbotron:vertical-center|jumbotron-small}}

    <main>

        <section>
              {{> molecules-career-filter:mt-5|mb-5}}
        </section>

        <section class="multi-columns top-arrow">

            <div class="container">

              <h2 class="heading small-heading">{{ searchHeading }}</h2>

              <div class="column-wrapper">
                {{# listItems.fourteen}}
                  {{> molecules-career-card:white-bg|p-4}}
                {{/ listItems.fourteen}}
              </div><!-- /.container -->

        </section> <!--/.multi-columns-->

    </main>

    {{> organisms-footer}}

</div> <!--/.wrapper-->

