<!-- Panels for push down navigation from main nav -->
{{>organisms-panel-find-your-home}}
{{>organisms-panel-investors}}
{{>organisms-panel-search}}
{{>organisms-mobile-navigation}}

<div class="wrapper">

    {{> organisms-header}}

    {{> molecules-jumbotron:vertical-center|jumbotron-small}}

    <main>

        <section class="multi-columns pb-0">

            <div class="container">

                {{> atoms-secondary-heading(heading:"Boardwalk Customer Service") }}

                <p>
                  Four easy ways to find what you are looking for 24 hours a day, 7 days a week.
                </p>

                <div class="column-wrapper">
                  {{# contactCardList }}
                    {{> molecules-contact-card}}
                  {{/ contactCardList }}
                </div>

            </div><!-- /.container -->

        </section> <!--/.multi-columns-->
<style>
.contact-form {
    color: white;
}
.card {
background-color: transparent;
  border: 0;
}
.icon-envelope2{
  position: relative;
  top: 4px;
}
.contact-card-text {
  text-align: center;
}
</style>
        <section class="contact-form">

            <div class="container">

                <form class="">

                  <div class="row">
                      <div class="col"></div>
                      <div class="col-sm-12 col-md-10" style="text-align: center">
                          <h2 class="secondary-heading"><i class="icon-envelope2"></i> Email Us</h2>
                          <hr/>
                      </div>
                      <div class="col"></div>
                  </div> <!--/.row -->

                  <div class="row mb-0">
                    <div class="col"></div>
                    <div class="col-sm-12 col-md-10">
                        <!-- first & Last Name -->
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <label for="bav-firstname">First Name</label>
                                {{> atoms-input-text:form-control|form-control-lg(form-field-text-id:"email-firstname",form-field-text-placeholder:"First name")}}
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="bav-lastname">Last Name</label>
                                {{> atoms-input-text:form-control|form-control-lg(form-field-text-id:"email-lastname",form-field-text-placeholder:"Lastname")}}
                            </div>
                        </div> <!--/.row -->

                      <!-- Email & Phone -->
                      <div class="row mt-2">
                          <div class="col-12 col-md-6">
                              <label for="email-phone">Phone</label>
                              {{> atoms-input-tel:form-control|form-control-lg(form-field-tel-id:"email-phone",maxlength:"13")}}
                          </div>
                          <div class="col-12 col-md-6">
                              <label for="email-email">Email</label>
                              {{> atoms-input-email:form-control|form-control-lg(form-field-email-id:"email-email",form-field-email-placeholder:"eg. jsmith@bwalk.ca")}}
                          </div>
                      </div> <!--/.row -->

                      <!-- Radio Buttons -->
                      <div class="row mt-1">
                        <div class="col-12 col-md-6">
                            <div class="form-check form-check-inline">
                                {{> atoms-radio-button(form-field-radio-id:"inline-radio-phone",form-field-radio-name:"radioElementName",form-field-radio-value:"phone",form-field-radio-text:"Preferred contact by phone")}}
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-check form-check-inline">
                                {{> atoms-radio-button(form-field-radio-id:"inline-radio-email",form-field-radio-name:"radioElementName",form-field-radio-value:"email",form-field-radio-text:"Preferred contact by email")}}
                            </div>
                        </div>
                        <div class="col"></div>
                      </div>

                    </div>
                    <div class="col"></div>
                  </div> <!--/.row -->

                  <div class="row">
                    <div class="col"></div>
                    <div class="col-sm-12 col-md-10">
                      <!-- Department -->
                      <div class="row mt-2">
                          <div class="col-12">
                              <label for="email-department">Department</label>
                              {{> atoms-select:form-control|form-control-lg(form-field-select-id:"email-department",form-field-select-placeholder:"Please select...") }}
                          </div>
                      </div> <!--/.row -->

                      <!-- Message -->
                      <div class="row mt-2">
                          <div class="col-12">
                              <label for="email-message">Message</label>
                              {{> atoms-textarea:form-control|form-control-lg(form-field-textarea-id:"email-message",form-field-textarea-placeholder:"")}}
                          </div>
                      </div> <!--/.row -->

                      <div class="row mt-4">
                          <!-- File upload -->
                          <div class="col-6">
                            <div class="row">
                              <div class="col-12 col-lg-2">
                                  {{> atoms-input-file:icon-attachment}}
                              </div>
                              <div class="col-12 col-lg-3 pl-lg-0">Add an attachment</div>
                            </div>
                          </div>
                          <!-- Buttons -->
                          <div class="col-6 text-right">
                              {{> atoms-primary-button:white(primary-button-text:"Submit Request")}}
                          </div>
                      </div>

                    </div>
                    <div class="col"></div>
                  </div> <!--/.row -->

                </form>
            </div> <!--/.container -->
        </section> <!--/.contact-form-->

        <section class="multi-columns pb-0">

          <div class="column-wrapper">
            {{# linkBlockList }}
              {{> molecules-link-block}}
            {{/ linkBlockList }}
          </div>

        </section> <!--/.multi-columns-->

    </main>

    {{> organisms-footer}}

</div> <!--/.wrapper-->

