<!-- Panels for push down navigation from main nav -->
{{>organisms-panel-find-your-home}}
{{>organisms-panel-investors}}
{{>organisms-panel-search}}
{{>organisms-mobile-navigation}}

<div class="wrapper">

    {{> organisms-header}}

    {{> molecules-jumbotron:vertical-center|jumbotron-small}}

    <main>

        <section class="multi-columns">

            <div class="container">

                {{> atoms-secondary-heading(heading:"Boardwalk Customer Service") }}

                <p>
                  Four easy ways to find what you are looking for 24 hours a day, 7 days a week.
                </p>

                <div class="column-wrapper">
                  {{# contactCardList }}
                    {{> molecules-contact-card}}
                  {{/ contactCardList }}
                </div>

            </div><!-- /.container -->

        </section> <!--/.multi-columns-->

        <section class="multi-columns pb-0">

          <div class="column-wrapper">
            {{# linkBlockList }}
              {{> molecules-link-block}}
            {{/ linkBlockList }}
          </div>

        </section> <!--/.multi-columns-->

    </main>

    {{> organisms-footer}}

</div> <!--/.wrapper-->

