  <label>
    {{> elements-input:form-control("type":"radio","attribute":"checked")}}
    Selected
  </label>
  <label>
    {{> elements-input:form-control("type":"radio")}}
    Unselected
  </label>
  <label>
    {{> elements-input:form-control("type":"radio","attribute":"disabled")}}
    Disabled
  </label>
