<label>
    {{> elements-input:form-control("type":"checkbox","attribute":"checked")}}
    Checked
</label>
<label>
    {{> elements-input:form-control("type":"checkbox")}}
    Unchecked
</label>
<label>
    {{> elements-input:form-control("type":"checkbox","attribute":"disabled")}}
    Disabled
</label>
