<label class="input-file {{ styleModifier }}">
  <span class="visuallyhidden">Upload File</span>
    {{> elements-input:form-control("type":"file")}}
    <span class="input-file__name"></span>
</label>
