<input 
		type="{{ type }}"
		class="{{ styleModifier }}"
		{{ attribute }}
		{{# placeholder }}
			placeholder="{{ placeholder }}"
		{{/ placeholder }}
		{{# ariaLabel }}
			aria-label="{{ ariaLabel }}"
		{{/ ariaLabel }}
		value="{{ value }}" 
		{{ inputRequired }}
/>




