<input
    type="checkbox"
    {{form-field-checkbox-checked}}
    class="{{styleModifer}}" name="{{form-field-checkbox-name}}" id="{{form-field-checkbox-id}}" aria-label="{{form-field-checkbox-label}}" {{# inputRequired }}required{{/ inputRequired}}/>
