<address itemprop="address" itemtype="http://schema.org/PostalAddress">
  <h2>
    <span itemprop="name">{{company.name}}</span>
    </h4>
    <span itemprop="streetAddress" content="{{company.streetaddress}}">{{company.streetaddress}}</span><br>
    <span itemprop="addressLocality" content="{{company.addresslocality}}">{{company.addresslocality}} </span><br>
    <spam itemprop="postalCode" content="{{company.postalcode}}">{{company.postalcode}}</spam><br>
    <a title="Boardwalk's Phone Number" itemprop="companytelephone" href="tel://1-{{company.telephone}}">{{company.telephone}}</a>
</address>