{{> elements-button:btn-link ("contextualText": "link") }}
{{> elements-button:btn-primary ("type":"submit", "contextualText": "submit") }}


{{# patternStyle.btnVariantList }}
  {{> elements-button:btn-primary}}
  {{/ patternStyle.btnVariantList }}