  <ul class="navbar-nav filter-categories">
      <li class="nav-item category-item active">
          <a class="nav-link" href="#">
            All
          </a>
      </li>
      <li class="nav-item category-item dropdown">
          <a class="nav-link dropdown__label" href="#" id="EventsDropdownMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Events
          </a>
          <div class="dropdown-menu" aria-labelledby="EventsDropdownMenu">
            <a class="nav-link" href="#">
              Upcoming
            </a>
            <a class="nav-link" href="#">
              Past
            </a>
          </div>
      </li>
      <li class="nav-item category-item">
          <a class="nav-link" href="#">
            News
          </a>
      </li>
      <li class="nav-item category-item">
            <a class="nav-link" href="#">
              Daily Life
            </a>
      </li>
      <li class="nav-item category-item dropdown">
          <a class="nav-link dropdown__label" href="#" id="LoveCommunityDropdownMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Love Community
          </a>
          <div class="dropdown-menu" aria-labelledby="LoveCommunityDropdownMenu">
              <a class="nav-link" href="#">
                Involvement
              </a>
              <a class="nav-link" href="#">
                Stories
              </a>
          </div>
      </li>
      <li class="nav-item category-item">
            <a class="nav-link" href="#">
              Our People
            </a>
      </li>
  </ul>
