<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="en">
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" />

        <!-- Fonts : Allura and Source Sans Pro & Typekit for Futura PT-->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.typekit.net/cor8wkk.css">

        <!-- Boardwalk  -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


        <link rel="stylesheet" href="../../assets/vendor/flaticon/flaticon.css">

        <!--
        <link rel="stylesheet" href="../../assets/css/layout.css" media="all" />
        <link rel="stylesheet" href="../../assets/css/landingpage.css" media="all" />
        -->

         <link rel="stylesheet" href="../../assets/css/style.css?{{ cacheBuster }}" media="all" />


        <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
        <link rel="stylesheet" href="../../assets/css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
        {{{ patternLabHead }}}
        <!-- End Pattern Lab -->

    </head>
    <body class="en {{ bodyClass }}">
