<!-- Panels for push down navigation from main nav -->
{{>organisms-panel-find-your-home}}
{{>organisms-panel-investors}}
{{>organisms-panel-aboutus}}
{{>organisms-panel-search}}
{{>organisms-mobile-navigation}}
<div class="wrapper">

    {{> organisms-header(background-color:"gradient")}}
  
    {{> molecules-jumbotron:vertical-center|jumbotron-large}}

    {{> organisms-investor-market-ticker}}

    <main>
		<nav class="navbar bg-blue investor-icon-navigation">
			{{>organisms-investors-icon-nav:white}}
        </nav>

		{{> organisms-investors-cards-column-content}}

        <section class="half-and-half-block white bg-black">
            <div class="left-half">
                <div class="row">
                    <div class="col-12 col-md-5" style="margin-left: 50px; border-right: 1px solid white;">
                        <div class="file-card">
                            <div class="file-card-text">
                                <h3 class="subheading"><i class="icon presentation"></i>Presentation</h3>
                                <div class="d-flex flex-wrap" >
                                    <div class="file-card-text mx-4 my-2">
                                        <h5 class="file-card-title">Q4 2018</h5>
                                        <a class="open-file white mb-2" href="">View File</a>
                                    </div>
                                    <div class="file-card-text mx-4 my-2 ">
                                        <h5 class="file-card-title">Q4 2018</h5>
                                        <a class="open-file white mb-2" href="">View File</a>
                                    </div>
                                    <div class="file-card-text mx-4 my-2 ">
                                        <h5 class="file-card-title">Q4 2018</h5>
                                        <a class="open-file white mb-2" href="">View File</a>
                                    </div>
                                    <div class="file-card-text mx-4 my-2 ">
                                        <h5 class="file-card-title">Q4 2018</h5>
                                        <a class="open-file white mb-2" href="">View File</a>
                                    </div>
                                </div>
                                <a class="btn btn-primary mt-5" href="">View Historical</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                    
                                <div class="file-card">
                                    
                                    <div class="file-card-text">
                                        <h3 class="subheading"><i class="icon webcast"></i>Webcast</h3>
                                        <h4 class="excerpt-card-title m-0">Jan 2 2019
                                        <span class="d-block">9:00 AM MT / 11:00 AM ET</span></h4>
                                        <ul class="list-unstyled">
                                            <li>
                                                <strong>Q4 - 2018</strong>
                                            </li>
                                            <li>
                                                <strong>Participation:</strong> Toll-Free: 888-390-0546
                                            </li>
                                            <li>
                                                <strong>Toronto Area:</strong> 416-764-8688          
                                            </li>
                                            <li>
                                                <strong>Conference Call ID:</strong> 97580696  
                                            </li>
                                            <li>
                                                <strong>Registration:</strong> 403-531-9255 or investor@bwalk.com
                                            </li>
                                        </ul>
                                        <a class="btn btn-primary mt-3" href="">View Webcasts</a>
                                    </div>
                                </div>
                    
                    </div>

                </div>

            </div>
            <div class="right-half">
                <div class="half-and-half-imagery">
                    <img src="https://picsum.photos/1000/600/?random"/>
                </div>
            </div>
        </section>

        <section class="multi-columns">
            <div class="container">
                <div class="card bio-card white-bg">
                    <article itemscope="" itemtype="http://schema.org/Person">
                        <div class="row">
                            <div class="col-12 col-md-3 columns">
                                <div class="contact-card-image">
                                    <img class="rounded mb-3 mb-md-0 lazyloaded" data-src="https://www.bwalk.com/media/18587/hp1811-04-boardwalk-corporate-portraits-3045.jpg?center=0.405,0.48333333333333334&amp;mode=crop&amp;width=460&amp;height=460&amp;rnd=131983218930000000&amp;format=webp" title="" alt="" src="https://www.bwalk.com/media/18587/hp1811-04-boardwalk-corporate-portraits-3045.jpg?center=0.405,0.48333333333333334&amp;mode=crop&amp;width=460&amp;height=460&amp;rnd=131983218930000000&amp;format=webp">
                                </div>
                            </div>
                            <div class="col-12 col-md-9 columns">
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="tertiary-heading mb-0" itemprop="name">
                                            Sam Kolias
                                            <span class="sub-heading mt-1" itemprop="jobTitle">
                                                
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                                <div class="mt-1 mb-0">
                                <blockquote class="blockquote">
                                    <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    <footer class="blockquote-footer text-right pt-3">Sam Kolias <cite title="Source Title">Chairman of the Board</cite></footer>
                                </blockquote>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </section>
                        
        <section class="multi-columns">
            <div class="container p-0">
                <div class="column-wrapper">
                
                    <div class="card contact-card investors-info p-4">
                        <article itemscope="" itemtype="http://schema.org/Person">
                            <h3 class="small-heading" itemprop="name">Boardwalk REIT</h3>
                            <div class="contact-card-text">
                                <div class="contact-card-info">
                                    <span class="d-block">#200, 1501 - 1 St. SW</span>
                                    <span class="d-block">Calgary, AB T2R 0W1</span>
                                </div>
                                <ul class="list-unstyled contact-card-numbers ml-0">
                                    <li itemprop="telephone">
                                        <a href="tel://403-531-9255" class="blue">Phone: 403-531-9255</a>
                                    </li>
                                </ul>
                            </div>
                        </article>
                    </div>

                    <div class="card contact-card investors-info p-4">
                        <article itemscope="" itemtype="http://schema.org/Person">
                            <h3 class="small-heading" itemprop="name">Investor Relations Contact</h3>
                            <div class="contact-card-text">
                                <div class="contact-card-info">
                                    <span class="d-block">James Ha</span>
                                    <span class="d-block">Vice President, Finance & Investor Relations</span>
                                </div>
                                <ul class="list-unstyled contact-card-numbers ml-0">
                                    <li itemprop="telephone">
                                        <a href="tel://403-206-6739" class="blue">Phone: 403-206-6739</a>
                                    </li>
                                    <li itemprop="email">
                                        <a href="#" class="blue modal-button" data-toggle="modal" data-url="">
                                            Email: James
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </article>
                    </div>

                    <div class="card contact-card investors-info p-4">
                        <article itemscope="" itemtype="http://schema.org/Person">
                            <h3 class="small-heading" itemprop="name">Transfer Agent</h3>
                            <div class="contact-card-text">
                                <div class="contact-card-info">
                                    <span class="d-block">Computershare</span>
                                    <span class="d-block">530 – 8 Avenue SW</span>
                                    <span class="d-block">Calgary, AB T2P 3S8</span>
                                </div>
                                <ul class="list-unstyled contact-card-numbers ml-0">
                                    <li itemprop="telephone">
                                        <a href="tel://403-267-6800" class="blue">Phone: 403-267-6800</a>
                                    </li>
                                </ul>
                            </div>
                        </article>
                    </div>

                </div>
            </div>
        </section>

        <section class="m-5">
            <div class="container">

                {{> organisms-investors-signup}}
            </div>
            <div class="container text-center my-5 pt-3">
                <em>The above contact information is intended for Investor Relations communications. If you are a Boardwalk resident member, you may call our Call Center at 1-800-310-9255</em>
            </div>
        </section>

    </main>

    {{> organisms-footer}}

</div> <!--/.wrapper-->
