<ul class="sg-colors">
  <li>
    <span class="sg-swatch pc-complementary"></span>
    <span class="sg-label">
      Primary<br />
      complementary
    </span>
  </li>
  <li>
    <span class="sg-swatch sc-complementary"></span>
    <span class="sg-label">
      Secondary <br />
      complementary
    </span>
  </li>
</ul>