<!-- Panels for push down navigation from main nav -->
{{>organisms-panel-find-your-home}}
{{>organisms-panel-investors}}
{{>organisms-panel-aboutus}}
{{>organisms-panel-search}}
{{>organisms-mobile-navigation}}

<div class="wrapper">

    {{> organisms-header}}

    {{> molecules-jumbotron-carousel:white|black-bg }}

    {{> molecules-brand-bar}}

    <main>
      {{> organisms-multiple-offer-cards:bottom-arrow}}

      {{> organisms-multiple-key-features:bg-white|pb-0}}

      {{> molecules-promotion-block}}

      {{> molecules-half-and-half:bg-blue|white|text-center}}

      {{> molecules-property-extras }}

      {{> molecules-contact-form:pb-0}}

    </main>

    {{> organisms-footer}}

</div> <!--/.wrapper-->
