<!-- Panels for push down navigation from main nav -->
{{>organisms-panel-find-your-home}}
{{>organisms-panel-investors}}
{{>organisms-panel-aboutus}}
{{>organisms-panel-search}}
{{>organisms-mobile-navigation}}

<div class="wrapper">
  {{> organisms-header}}
  {{> molecules-jumbotron:vertical-center|jumbotron-large}}
  <main>
    {{> molecules-career-details-w-aside:column-reverse}}
    <div class="container">
      <div class="row">
        <div class="col text-center">

          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#applyPosition" aria-expanded="false" aria-controls="applyPosition">
            Apply Now
          </button>

        </div>
      </div>
    </div>
    {{> organisms-career-apply-form}}
    <section class="half-and-half-block bg-blue white {{# halfAndHalf.reversed }}half-and-half-reversed{{/ halfAndHalf.reversed }}">
        <div class="left-half">
            <div class="half-and-half-content">
                <h3 class="secondary-heading">{{ halfAndHalf.heading }}</h3>
                {{# halfAndHalf.copy }}
                    <p>{{{ halfAndHalf.copy }}}</p>
                {{/ halfAndHalf.copy }}
                {{# halfAndHalf.linkText }}
                    <a class="arrow-link {{ halfAndHalf.linkColor }}" href="{{ halfAndHalf.linkUrl }}">{{ halfAndHalf.linkText }}</a>
                {{/ halfAndHalf.linkText }}
            </div><!-- /.half-and-half-content -->
        </div><!-- /.left-half -->
        <div class="right-half">
            <div class="half-and-half-imagery">
                <a href="https://www.youtube.com/watch?v=XIMLoLxmTDw" class="video-modal" aria-label="Video Title">
                    <picture>
                        <source srcset="http://via.placeholder.com/1170x600" media="(min-width: 45em)">
                        <source srcset="http://via.placeholder.com/780x400">
                        <img src="http://via.placeholder.com/1170x600" alt="" title="">
                    </picture><!-- /.bucket-image -->
                </a>
            </div><!-- /.half-and-half-imagery -->
        </div><!-- /.right-half -->
    </section><!-- /.half-half-block -->
  </main>
  {{> organisms-footer}}
</div> <!--/.wrapper-->
