.advanced-filters {

    #filterAccordion {

        // quite different version of small screens
        @media (max-width: ($M - 1)) {
            z-index: 3;
            background: $white;
            top: 0;
            width: 100%;

            &.active {
                display: block;
            }
        }
    }

    &-section {
        transition: 0.5s;

        &-open {
            max-height: 100vh;
        }

        &-close {
            max-height: 0vh;
            overflow: hidden;
        }
    }

    &-toggle {
        background: $white;
        border-bottom: none;

        &:not(.advanced-filters-toggle-header) {
            button {
                color: $blue;
                background: $white;
                font-size: 1rem;
                font-weight: bolder;
                display: block;
                width: 100%;
                border: 0;
                padding: 15px 0;
                border-bottom: 1px solid $lighterblue;
                text-transform: uppercase;
                font-family: $futura;

                &::after {
                    //@include flaticon("\ea50");
                    color: $blue;
                    font-size: 12px;
                    font-weight: bolder;
                    display: inline-block;
                    position: relative;
                    left: 5px;
                    top: 0;
                    transform: rotate(-90deg);
                }

                &.collapsed {
                    border-bottom: 1px solid transparent;

                    &::after {
                        transform: rotate(90deg);
                        top: 0;
                    }
                }
            }

            #btn-mobile-find-your-home {
                color: #fff;
                max-width: 260px;
                margin-bottom: 35px;
                position: relative;
                padding-right: 48px;

                &:after {
                    content: '\e925'; // icon-filter
                    font-size: 16px;
                    position: absolute;
                    right: 35px;
                    top: 36%;
                    line-height: 1;
                }
            }
        }

        &-small {
            width: 85%;
            margin-top: 1rem;
            color: $white !important;
        }

        &-header {
            background: $blue;
            padding: 30px;

            a {
                color: $white;
                text-transform: uppercase;
                border-bottom: none;
                font-size: 2rem;
                font-family: $futura;
            }
        }
    }

    #advancedFilters {
        a {
            font-family: $futura;
            text-transform: uppercase;
        }
    }

    #advancedFilterCollapse {
        @media (max-width: $M) {
            border-bottom: 1px solid $footer-grey;
        }

    }

    .advanced-filters-toggle:not(.advanced-filters-toggle-header) button {

        &:focus,
        :hover {
            background-color: $blue;
            border-color: white !important;
            color: $white;

            &:after {
                color: $white;
            }
        }

        &::after {
            -webkit-transform: rotate(90deg) !important;
            transform: rotate(90deg) !important;
        }

        &[aria-expanded="true"]::after {
            -webkit-transform: rotate(-90deg) !important;
            transform: rotate(-90deg) !important;
        }
    }



    label {

        input {
            margin-right: 10px;
        }

        img {
            display: inline-block;
        }
    }

    input {
        margin-bottom: 30px;

        @media (min-width: $M) {
            margin-bottom: 20px;
        }
    }

    select {
        margin-bottom: 30px;
    }

    &-stock {

        label {
            padding-left: 25px;
            padding-right: 5px;
        }
    }

    .hr-blue {
        border-bottom: 1px solid $lighterblue;
        position: relative;

        .hr-blue__marker {
            background: transparent url(/assets/images/hr-blue-marker.png) 0 0 no-repeat;
            width: 29px;
            height: 15px;
            position: absolute;
            top: -14px;
            left: 8%;
            display: block;

            @include if-min-width($M) {
                left: 368px;
            }
        }

        // first option selected
        &-col-1 {

            &:after,
            &:before {
                left: 8%;
            }
        }

        // second option selected
        &-col-2 {

            &:after,
            &:before {
                left: 8%;
            }
        }

        @include if-min-width($M) {

            // first option selected
            &-col-1 {

                &:after,
                &:before {
                    left: 50%;
                }
            }

            // second option selected
            &-col-2 {

                &:after,
                &:before {
                    left: 50%;
                }
            }
        }

        @include if-min-width($MNS) {

            // first option selected
            &-col-1 {

                &:after,
                &:before {
                    left: 12%;
                }
            }

            // second option selected
            &-col-2 {

                &:after,
                &:before {
                    left: 38%;
                }
            }
        }
    }

    .bordered-box {
        padding: 25px 0 10px;
        border: 1px solid black;
        margin: 0 0 30px;

        label {
            padding-left: 25px;
            padding-right: 5px;
        }
    }


    &-incentives {
        background: black;
        border-radius: 3px;
        margin-bottom: 20px;

        label {
            color: $white;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            display: block;

            &:first-of-type {
                margin-bottom: 0;
            }

            input {
                margin-bottom: 0;
            }
        }

        @media (max-width: $M) {
            padding-left: 27px;

            input {
                margin-left: -28px;
            }
        }
    }

    &-design {

        &-divider {
            border-top: 1px solid $lightgrey;
            margin-bottom: 15px;
        }
    }

    .secondary-heading {
        font-size: 1.1rem;
        padding-left: 25px;
        margin-bottom: 1rem;
    }

    .advanced-search-toggle {
        font-size: 1rem;
        font-weight: bolder;
        color: $blue;
        padding: 0.25rem;

        &:after {
            @include flaticon("\f108");
            font-size: 15px;
            font-weight: bold;
            left: 10px;
            position: relative;
            transform: rotate(90deg) translateY(60%);
        }

        &[aria-expanded="true"]:after {
            transform: rotate(-90deg) translateY(-60%);
        }

    }

    #showFullPropertyTypeRange {

        .feature-icon {
            color: rgb(156, 156, 156);
            padding: 0;

            label {
                cursor: pointer;

                .icon-checkbox {
                    position: absolute;
                    opacity: 0;

                    &:checked~* {
                        color: $blue;
                    }

                }

                .multi-icons {
                    i:first-of-type::before {
                        margin-right: -8px
                    }

                    i:last-of-type::before {
                        margin-left: -8px
                    }
                }

                .feature-text {
                    margin-top: 0;
                }

                &:hover,
                &:focus {
                    color: $blue;
                    outline: none;
                }
            }

        }

    }

}

#property-range-marker {
    background: transparent url(/assets/images/hr-blue-marker.png) 0 0 no-repeat;
    width: 29px;
    height: 15px;
    position: absolute;
    bottom: -1px;
    left: 100px;
    display: block;
    z-index: 1;
    opacity: 0;
    transition: opacity .1s linear;

    &.open {
        opacity: 1;
    }

    @include if-min-width($M) {
        //left: 100px;
    }
}
