section {
    &[aria-label="Article Grid"] {

        .responsive-image img,
        .half-and-half-imagery {
            height: 548px !important;
        }
        .col-md-12 .responsive-image {
            max-height: 793px !important;
            @media screen and (max-width: 768px) {
                max-height: 420px !important;

            }
        }
        .imageCrop-sm {
            display: block!important;
        }

        @media screen and (max-width: 768px) {
            .half-and-half-block.generic-content {
                flex-direction: column-reverse;
            }
            .responsive-image img,
            .half-and-half-imagery {
                height: 260px!important
            }
        }

        @media all and (-ms-high-contrast:none) {
            .col-md-6 picture.responsive-image img {
                max-width: none !important;
                margin-left:-42%;
            }
        }

    }

}


