// Header styles

#header {
    position: absolute;
    top: -100px;
    left: auto;
    height: 100px;
    padding-top: 15px;
    width: 100%;
    z-index: 2;
    background: $blue;
    @include if-between(0,1023px) {
      position: relative;
      top: 0;
  }

    @include if-min-width($MNS) {
        background: linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,0));
        top: 0;
    }
    .logo {

        min-width: 265px;

        @include if-between(0,$MNL) {
            min-width: 150px;
        }

        svg {
          fill: white;
          width: 170px;
          height: 52px;

          @include if-between(0,$MNL) {
              width: 130px;
              height: 52px;
          }
        }

        img {
            margin: 0;
            max-width: 180px;

            @include if-min-width($MNS) {
                max-width: 114px;
            }

            @include if-min-width($MNM) {
                max-width: 120px;
            }
            @include if-min-width($MNL){
                max-width: 160px;
            }
        }

    }
    &.header-blue {
        background: $blue;

        + *{
            //padding-top: 100px;
            //margin-top: 100px;
            @include if-min-width($XM) {
              margin-top: 0;
            }
        }
        + .property-results-wrapper {
            //margin-top: 100px;
            padding-top: 0;
            @include if-min-width($XM) {
              margin-top: 0;
              padding-top: 100px;
            }
          }
    }
    &.header-gradient {

        + *{
            padding-top: 0;
            @include if-between(0,$M) {
              //margin-top: 100px;
            }
        }

        @include if-min-width($MNS) {
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
        }
    }

    #utility-navigation li {

    a {

        &:hover {
            color: $white;
            opacity: .8;

            &:before {
                color: $white;
                opacity: .8;
            }
        }
    }

    form {
      width: 100%;
      .input-search-container {
        border: none;
        margin: 0;
        padding: 0;
        width: 100%;
          input[type=search] {
            border: 0;
            color: #004C97;
            font-size: 0.85rem;
            height: 26px;
            min-width: 160px;
            position: relative;
            padding: 8px 34px 8px 8px;
            right: 34px;
            @include if-min-width($L) {
              right: 10px
            }
            @include if-min-width($XL) {
              right: 8px;
            }
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
              right: 0;
              height: 29px;
              @include if-min-width($XL) {
                right: 66px;
              }
              &::-ms-clear {
                  display: none;
              }
            }
          }
          button {
            background: transparent;
            border: 0;
            color: #004C97;
            display: block;
            font-size: 30px;
            position: absolute;
            top: -1px;
            right: -4px;
          }

        }

      }
      &.u-nav-sitesearch {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        right: 28px;
        top: 32px;

        @include if-min-width($XL) {
          right: 32px
        }

      .close-search {
          margin-top:6px;
          margin-left: 14px;
          cursor: pointer;
          @include if-min-width($XL) {
            margin-left: 10px;
          }
          .icon-close {
            zoom: 0.85
          }
        }
      }
  }
}

// Offset main navigation
:lang(en-CA) #header .logo {
  @include if-between (0,1048px){
      min-width: 130px;
  }
}

#main-navigation {
    margin-bottom: 0;
    margin-left: 1.5em;

    li {

        a {
            color: $white;
            font-family: $futura;
            font-size: 0.73rem;
            font-weight: 700;
            text-transform: uppercase;

            &:hover {
                border-bottom: 2px solid $white;
                padding-bottom: 2px;
            }

            @include if-min-width($MNM) {
                font-size: 0.8rem;

            }
            @include if-min-width($MNL){
                font-size: 0.85rem;
            }
        }

        &.m-nav-find,
        &.m-nav-investors,
        &.m-nav-aboutus {

            a {
                &:after {
                    font-size: 10px;
                    font-weight: bold;
                    left: 10px;
                    position: relative;
                    transition: .3s ease-in-out;
                    transform: rotate(90deg) translateY(60%);
                }

                // If nav item 'open', then rotate caret
                &.active {
                    &:after {
                        top: 0px;
                        left: 4px;
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    }
}

.m-nav-find,
.m-nav-investors,
.m-nav-contact,
.m-nav-aboutus,
.u-nav-search {
  position: relative;
  cursor: pointer;

  & .active::before {
    content: '';
    display: block;
    position: absolute;
    top: -1.8rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid #fff;
    pointer-events: none;
  }

}

#utility-navigation {
    margin-bottom: -4px;

    p {
        margin-bottom: 0;
    }

    li {
        padding: 2px 8px;

        a {
            color: $white;
            display: inline-block;
            font-family: $futura;
            font-size: 0.73rem;
            font-weight: 700;
            text-transform: uppercase;

            &:hover {
                color: $blue;
                text-decoration: none;
            }

            i {
                font-size: 17px;
            }

            &:before {
                font-size: 22px;
            }

            &.login-link {
              margin-left: 10px;
              padding-left: 0;


              span {
                display: none;
            }}

            @include if-min-width($MNM) {
                font-size: 0.8rem;
            }

            @include if-min-width($MNL){
                font-size: 0.85rem;

                i {
                    font-size: 18px;
                }

                &.login-link span {
                    display: inline-block;
                }
            }
        }

        &:nth-of-type(2) {

          border-left: 1px solid #ddd;
          border-right: 1px solid #ddd;

             a {
                border-bottom: 2px solid transparent;
                padding-bottom: 2px;
             }
        }

        // Search
        &.u-nav-search {
          a {
            font-size: 20px;
            i {
              position: relative;
              top: .2em;
            }
          }
        }
    }
}

.en .login-link:before {
  top: -2px;
  left: -27px;

  @include if-min-width(1441px) {
      top: 1px;
      left: -27px;
  }
}
.fr .login-link:before {
  top: -4px;
  left: -26px;
}

.fr .u-nav-sitesearch input[type=search] {
  right: 44px!important;
}

@media screen and (min-width: $XL) {
  .fr .u-nav-sitesearch {
    right: 28px !important;
    input[type=search] {
      right: 8px!important;
    }
    .close-search {
      margin-left: 15px!important;
    }
  }
}


.fr footer .login-link:before {
  top: 0;
}



// Panels for Find Your Home and Investors

#m-nav-panel-find,
#m-nav-panel-investors,
#m-nav-panel-aboutus,
#m-nav-panel-search {
    min-height: 0;
    max-height: 0;
    opacity: 0;
    position: relative;

    .close {
        font-size: 35px;
        position: absolute;
        right: 15px;
        top: 10px;
        z-index: 0;
    }

    &.panel-open {
        min-height: 100px;
        max-height: 100%;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }

    .container {
        padding: 50px 0;
    }
}

#ul-mobile-nav__find,
#m-nav-panel-find {

  .btn-group {
    display: block;
  }

  p {
    margin-bottom: 15px;

    .arrow-link {
      margin-bottom: 30px;
    }
  }

  .arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #85a0b5;
    position: absolute;
    top: 15px;
    left: 15%;

    @include if-min-width($L) {
      left: 20%;
    }
  }

  #city-ontario .arrow-up {
    left: 34%;

    @include if-min-width($L) {
      left: 37%;
    }
  }

  #city-quebec .arrow-up {
    left: 54%;

    @include if-min-width($L) {
      left: 53%;
    }
  }

  #city-saskatchewan .arrow-up {
    left: 77%;

    @include if-min-width($L) {
      left: 72%;
    }
  }

  .cities-dropdown {
    display: none;
  }

  .ul-cities {
    margin-top: 25px;
    border-top: 1px solid $lighterblue;
    padding-top: 25px;


    li {
      width: 50%;

      @include if-min-width($MNS) {
        width: 33%;
      }

      @include if-min-width($XL) {
        width: 20%;
      }

      a {
        color: $blue;
        font-size: 16px;
        font-weight: bold;

        &:hover {
          opacity: .8;
        }
      }
    }
  }
}

#m-nav-panel-find .autocompleteDropdown {
  max-width: 100%;
  .ui-autocomplete {
    top:7px;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}

.advanced-filters .autocompleteDropdown {
  top: -20px;
  width: 97%;
  left: 5px;
  .ui-autocomplete {
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}
