.property-details-gallery {

    @include if-min-width($MNS) {
        margin-top: 0;
        padding-top: 100px !important;
    }

    &.half-and-half-block {

        .half-and-half-content {
            padding: 0;
            max-width: 100%;
            .property-details-card .offer-card {
              max-width: none;
            }

        }

        @include if-min-width($L) {
          .left-half {
            width: 40%;
          }
          .right-half {
            width: 60%;
          }
        }

        @include if-min-width($XXL) {
          .left-half {
            width: 33.33%;
          }

          .right-half {
            width: 66.66%;
          }
        }
    }

    .property-details-card {
          display: flex;
          flex-direction: column;
          margin: 10px 0 0 0;

          @include if-min-width(992px) {
              margin-right: 10px;
          }

        // Brand Bar
        .brand-bar {

            @media only screen and (max-width: 639px) {
                .brand-bar-logo {
                    text-align: center;
                    background: transparent !important;
                    svg {
                        fill: $black;
                        width: auto;
                        max-width: 200px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }

                &.brand-bar-details .details-title {
                    width: 96%;
                    box-shadow: 25px 0 $blue;
                    border-right-width: .9rem;
                }
            }

            .details-title {
                display: flex;
                justify-content: flex-start;
                text-align: left;
                padding: 0.5em 0.5em 0.5em 0;
                min-height: 88px;

                .back-btn {
                  align-self: center;
                  width: 15%;
                  max-width: 64px;
                  margin-right: 16px;
                  &::before {
                    font-size: 24px;
                    color: #fff;
                    transform: rotate(180deg);
                    vertical-align: middle;
                    margin: 25%;
                  }
                  &:focus {
                    background-color: #004c97;
                    border: 1px solid #fff;
                    border-radius: 0;
                    color: #fff;
                    display: inline-block;
                  }
                }

                p {
                    align-self: center;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 22px;

                    @include if-min-width($XM) {
                      font-size: 24px;
                    }

                    span {
                        font-size: 18px;
                        line-height: 18px;
                        @include if-min-width($XM) {
                          font-size: 16px;
                        }

                        .additional-text {
                          font-size: 14px;
                          @include if-min-width($L) {
                            font-size: 16px;
                          }

                        }
                    }

                }
            }
        }

        .offer-card {
            margin: 10px 0 0;
            max-width: 370px;
            padding-bottom: 0;

            .offer-card-content {
                padding: 1rem;

                @include if-min-width(360px) {
                    padding: 2rem 3rem;
                }

            }

            .offer-card-quick-features .dots::after {
                content: '......................................................................................................................................................................................';
            }

            &.details-card {

                .btn {
                    display: inline-block;

                    @include if-min-width($S) {
                        display: inline-table;
                    }
                }
            }

            .offer-text {
              flex-basis: auto;
              @include if-min-width($XM) {
                height: 300px;
                min-height: min-content;
              }
              @include if-min-width($L) {

                height: 458px;
              }
            }

            .offer-card-title {
              padding-right: 0;
            &::after {
              display: none;
            }
          }
        }
    }
}

:lang(fr-CA) {
    .property-details-card .offer-card-content {
        button {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
}

