<input type="{{ type }}" class="{{ styleModifier }}" {{ attribute }} {{# placeholder }} placeholder="{{ placeholder }}" {{/ placeholder }} aria-label="{{ ariaLabel }}" value="{{ value }}" {{ inputRequired }} />