
<div>
    <img src="{{ advantage-carousel.image }}" width="720" height="400" alt="{{ advantage-carousel.heading }}" title="{{ advantage-carousel.heading }}" />
    <div class="advantage-caption">
        <h3 class="block-heading">{{ advantage-carousel.heading }}</h3>
        <p class="block-text">{{ advantage-carousel.copy }}</p>
    </div>
</div>
