<ul class="sg-colors">
	<li>
		<span class="sg-swatch pc-d40"></span>
		<span class="sg-label">
			+40%
		</span>
	</li>
	<li>
		<span class="sg-swatch pc-d30"></span>
		<span class="sg-label">
			+30%
		</span>
	</li>
	<li>
		<span class="sg-swatch pc-d20"></span>
		<span class="sg-label">
			+20%
		</span>
	</li>
		<li>
		<span class="sg-swatch pc-d10"></span>
		<span class="sg-label">
			+10%
		</span>
	</li>
	<li>
		<span class="sg-swatch primary-color"></span>
		<span class="sg-label">
			Primary Colour
		</span>
	</li>
	<li>
		<span class="sg-swatch pc-l10"></span>
		<span class="sg-label">
			-10%
		</span>
	</li>
	<li>
		<span class="sg-swatch pc-l20"></span>
		<span class="sg-label">
			-20%
		</span>
	</li>
	<li>
		<span class="sg-swatch pc-l30"></span>
		<span class="sg-label">
			-30%
		</span>
	</li>
	<li>
		<span class="sg-swatch pc-l40"></span>
		<span class="sg-label">
			-40%
		</span>
	</li>
</ul>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch sc-d40"></span>
		<span class="sg-label">
			+40%
		</span>
	</li>
	<li>
		<span class="sg-swatch sc-d30"></span>
		<span class="sg-label">
			+30%
		</span>
	</li>
	<li>
		<span class="sg-swatch sc-d20"></span>
		<span class="sg-label">
			+20%
		</span>
	</li>
		<li>
		<span class="sg-swatch sc-d10"></span>
		<span class="sg-label">
			+10%
		</span>
	</li>
	<li>
		<span class="sg-swatch secondary-color"></span>
		<span class="sg-label">
			Secondary Colour
		</span>
	</li>
	<li>
		<span class="sg-swatch sc-l10"></span>
		<span class="sg-label">
			-10%
		</span>
	</li>
	<li>
		<span class="sg-swatch sc-l20"></span>
		<span class="sg-label">
			-20%
		</span>
	</li>
	<li>
		<span class="sg-swatch sc-l30"></span>
		<span class="sg-label">
			-30%
		</span>
	</li>
	<li>
		<span class="sg-swatch sc-l40"></span>
		<span class="sg-label">
			-40%
		</span>
	</li>
</ul>
