<textarea rows="{{ rowcount }}" id="{{ textareaId }}" class="{{ styleModifier }}" {{# placeholder }} placeholder="{{ placeholder }}" {{/ placeholder }} {{# inputRequired }} required{{/ inputRequired}}" aria-label="{{ ariaLabel }}">
</textarea>