<label class="dropdown__label label-icon-element" for="{{form-field-date-id}}">
  <i class="icon-date"></i>
  <input type="text" id="{{form-field-date-id}}" name="{{form-field-date-name}}" class="datepicker {{styleModifier}}" placeholder="mm/dd/yyyy" {{# inputRequired }} required{{/ inputRequired}} aria-label="Choose a date" />
</label>