<address itemscope="" itemtype="http://schema.org/Person">
  <h4>
    <span itemprop="name">{{contactInfo.firstname}} {{contactInfo.lastname}}</span>
    <small itemprop="jobTitle">{{contactInfo.jobtitle}}</small>
  </h4>

  <span>
    Direct:<a href="tel://{{ contactInfo.direct }}"> <span class="Culture-Phone" itemprop="telephone">{{contactInfo.direct}}</span></a><br>
    Toll-Free :<a href="tel://1-{{ contactInfo.tollFree }}"> <span class="Culture-Phone" itemprop="telephone">{{ contactInfo.tollFree }}</span></a><br>
    Fax:<a href="tel://{{ contactInfo.fax }}"> <span class="Culture-Phone" itemprop="telephone">{{ contactInfo.tollFree }}</span></a><br>
    <a href="mailto:{{ contactInfo.email }}" class="EmailLink" data-recipients="jha" data-subject="Website Inquiry">{{ contactInfo.email }}</a>
  </span>
</address>