<button 
	class="btn {{ styleModifier }}"
	{{# btnType }}
		type="{{ btnType }}"
	{{/ btnType }}
	{{# onClick }}
		onClick="{{ onClick }}"
	{{/ onClick }}
	{{ attribute }}
	{{# ariaLabel }}
			aria-label="{{ ariaLabel }}"
	{{/ ariaLabel }}
	{{# ariaPressed }}
		aria-pressed="{{ ariaPressed }}"
	{{/ ariaPressed }}
	{{# tabindex }}
		tabindex="{{tabindex}}"
	{{/ tabindex }}	>
	{{# iconClass }}
		<i class="{{ iconClass }}"></i>
	{{/ iconClass }}
	{{contextualText}}
</button>
