<div class="icons icon-list">
    <h2>icomoon</h2>
    <ul>
        <li class="icon-instagram"></li>
        <li class="icon-twitter"></li>
        <li class="icon-google-plus"></li>
        <li class="icon-youtube"></li>
        <li class="icon-facebook"></li>
        <li class="icon-search"></li>
        <li class="icon-resident-member"></li>
        <li class="icon-close"></li>
        <li class="icon-info"></li>
        <li class="icon-delete"></li>
        <li class="icon-pin"></li>
        <li class="icon-plus"></li>
        <li class="icon-cta"></li>
        <li class="icon-play-circle-o"></li>
        <li class="icon-ctrl"></li>
        <li class="icon-bars"></li>
        <li class="icon-chat-bubble"></li>
        <li class="icon-download"></li>
        <li class="icon-camera"></li>
    </ul>

</div>
