  <form>
      <div class="custom-control custom-checkbox">

        <input type="checkbox" class="custom-control-input {{styleModifer}}"
        id="{{form-field-checkbox-id}}"
        name="{{form-field-checkbox-name}}" {{# inputRequired }}required{{/ inputRequired}}
        {{form-field-checkbox-checked}}
        >

        <label class="custom-control-label mt-1" for="{{form-field-checkbox-id}}">{{form-field-checkbox-label}}</label>

      </div>
  </form>
