  <label tabindex="0">
      <input type="checkbox" name="{{icon-toggle-field-name}}" class="icon-checkbox" tabindex="-1" {{# inputRequired }}required{{/ inputRequired}}/>
      <i class="icon {{icon-toggle-icon}}" title="{{icon-toggle-text}}"></i>
      <span class="feature-text">{{icon-toggle-text}}</span>
  </label>