<section class="container section-compare-all {{ styleModifier}}">
    <div class="collapse" id="collapseExample">
        <!-- Note: Adding some inline styling for placeholder collapse container - can be stripped out for actual use. -->
        <div class="section-compare-all-content" style="border: 1px solid #ddd;min-height: 200px;padding: 25px;">
        You can add any layout you like in here. The padding, border and min height are set inline here as placeholder and should be stripped out with actual placement of content.
        </div>
    </div> <!--/.collapse-->
    <div class="section-compare-all-button">
        <button class="btn-compare-toggle collapsed" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" aria-label="Compare All">
            <i class="icon-ctrl"></i>
        </button>
        <p class="text-center btn-compare-toggle-text">Compare All</p>
    </div>
</section> <!--/#section-compare-all-->
