<div class="row investor-market-blocks">
    <div class="col-12 col-lg-9 investor-market-block market-summary">

        <div class="market-summary-heading">
            <h2 class="secondary-heading">Market Summary</h2>
            <h4>November 30, 2017</h4>
            <p>Boardwalk REIT TSX: BEI.UN</p>
        </div>

        <div class="row">

            <div class="col-12 col-lg-4 market-summary-label">
                
                <div class="market-summary-data">
                    <!-- Tab panes -->
                    <div class="market-summary-data-flex">
                        <div>
                            <h3 class="heading">40.12</h3>
                            <h4 class="heading">0.18 (20%)</h4>
                        </div>
                        <div><h3 class="heading"><span>↑</span></h3></div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-8 market-summary-details">
                <div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Volume</td>
                                <td>42.38k</td>
                            </tr>
                            <tr>
                                <td>Day High</td>
                                <td>40.32</td>
                            </tr>
                            <tr>
                                <td>Day Low</td>
                                <td>39.92</td>
                            </tr>
                            <tr>
                                <td>52 Week High</td>
                                <td>52.18000003</td>
                            </tr>
                            <tr>
                                <td>52 Week Low</td>
                                <td>37.959999</td>
                            </tr>
                            <tr>
                                <td>Dividend</td>
                                <td>1.0080001</td>
                            </tr>
                            <tr>
                                <td>Yield</td>
                                <td>2.4976</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="market-img">
                    <img src="//app.quotemedia.com/quotetools/getChart?webmasterId=101341&amp;snap=true&amp;symbol=BEI.UN:CA&amp;chscale=5d&amp;chtype=AreaChart&amp;chhig=150&amp;chfrm=e57100&amp;chfill=fed5ac&amp;chfill2=e57100&amp;chln=ce6928&amp;chpccol=ff0000&amp;chfrmon=false&amp;chton=false&amp;chpcon=true" style="width:100%; max-width: 800px" alt="quotemedia">
                </div>
            </div>

        </div>

    </div>

    <div class="col-12 col-lg-3 row investor-market-block investor-downloads">
        <div class="col-12 m-3">
            <h4 class="tertiary-heading">Latest Investor Kit</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta posuere lectus nec convallis.</p>
        </div>
        <div class="col-12 m-3">
            {{> atoms-download-button(download-button-text:"Annual Report 2016")}}
            {{> atoms-download-button(download-button-text:"Information Circular 2017")}}
            {{> atoms-download-button(download-button-text:"A.I.F. 2017")}}
        </div>
    </div>
</div>
