<div class="row investors-signup">
    <div class="col-md-12">

        <form>
            <div class="row justify-content-md-center">
                <div class="col-sm-12 col-md-10">
                    <h2 class="secondary-heading text-center ">
                        Sign Up For Updates
                    </h2>
                    <p class=" text-center">Receive updates on press releases and more</p>
                </div>
            </div>

            <div class="row justify-content-md-center">
                <div class="col-12 col-md-5 mb-3">
                    <label for="FirstName">First Name</label>
                    <input aria-label="First Name" class="form-control form-control-lg">
                    <span class="field-validation-valid" data-valmsg-for="FirstName" data-valmsg-replace="false">Required field</span>
                </div>
                <div class="col-12 col-md-5  mb-3">
                    <label for="LastName">Last Name</label>
                    <input aria-label="Last Name" class="form-control form-control-lg" >
                    <span class="field-validation-valid" data-valmsg-for="LastName" data-valmsg-replace="false">Required field</span>
                </div>
            </div>

            <div class="row justify-content-md-center">
                <div class="col-12 col-md-5 mb-3">
                    <label for="PhoneNumber">Phone</label>
                    <input aria-label="Phone" class="form-control form-control-lg" >
                    <span class="field-validation-valid" data-valmsg-for="PhoneNumber" data-valmsg-replace="false">A 10 digit phone number is required</span>
                </div>
                <div class="col-12 col-md-5 mb-3">
                    <label for="EmailAddress">Email</label>
                    <input aria-label="Email" class="form-control form-control-lg">
                    <span class="field-validation-valid" data-valmsg-for="EmailAddress" data-valmsg-replace="false">A valid email address is required</span>
                </div>
            </div>

            <div class="row justify-content-md-center">
                <div class="col-12 col-md-5 mb-3">

                </div>
                <div class="col-12 col-md-5 mb-3 text-right">
                    <button type="submit" class="btn btn-primary contact-form-submit-btn">
                        Sign up
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>