<ul class="list-unstyled icon-navigation d-flex flex-column flex-md-row align-items-start flex-wrap {{ styleModifier }}">
    <li class="nav-item px-1 active">
        {{>atoms-icon-link(icon-link-url:"#", icon-link-icon-class:"flaticon-investment", icon-link-text:"Investors Overview")}}
    </li>
    <li class="nav-item px-1 dropdown">
        <a class="nav-link dropdown__label" href="#" id="NewsPresentationsDropdownMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="flaticon-data"></i>
            News & Presentations
        </a>
        <div class="dropdown-menu" aria-labelledby="NewsPresentationsDropdownMenu">
            <a class="nav-link" href="#">Press Releases</a>
            <a class="nav-link" href="#">Presentations</a>
            <a class="nav-link" href="#">Webcasts</a>
        </div>
    </li>
    <li class="nav-item px-1 dropdown">
        <a class="nav-link dropdown__label" href="#" id="FinancialReportsDropdownMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="flaticon-news-report"></i>
            Financial Reports
        </a>
        <div class="dropdown-menu" aria-labelledby="FinancialReportsDropdownMenu">
            <a class="nav-link" href="#">Quarterly Reports</a>
            <a class="nav-link" href="#">Annual Report</a>
        </div>
    </li>
    <li class="nav-item px-1 dropdown">
        <a class="nav-link dropdown__label" href="#" id="StockInformationDropdownMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="flaticon-ipo"></i>
            Stock Information
        </a>
        <div class="dropdown-menu" aria-labelledby="StockInformationDropdownMenu">
            <a class="nav-link" href="#">Stock Quote</a>
            <a class="nav-link" href="#">Analyst Coverage</a>
            <a class="nav-link" href="#">Information Circular</a>
        </div>
    </li>
    <li class="nav-item px-1 dropdown">
        <a class="nav-link dropdown__label" href="#" id="CorporateGovernanceDropdownMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="flaticon-information-button"></i>
            Corporate Governance
        </a>
        <div class="dropdown-menu" aria-labelledby="CorporateGovernanceDropdownMenu">
            <a class="nav-link" href="#">Governance Documents</a>
            <a class="nav-link" href="#">Board of Directors</a>
            <a class="nav-link" href="#">Leadership Team</a>
        </div>
    </li>
    <li class="nav-item px-1 dropdown">
        <a class="nav-link dropdown__label" href="#" id="DistributionInformationDropdownMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="flaticon-financial-1"></i>
            Distribution Information
        </a>
        <div class="dropdown-menu" aria-labelledby="DistributionInformationDropdownMenu">
            <a class="nav-link" href="#">Monthly  Distributions</a>
            <a class="nav-link" href="#">Income Tax Information</a>
        </div>
    </li>
</ul>
