<section class="multi-columns">
    <div class="container">
        <h2 class="secondary-heading">
            News
        </h2>
        
        <div class="column-wrapper">

            <div class="excerpt-card">
                <div class="excerpt-card-text">
                    <h4 class="excerpt-card-title">Feb 21 2019</h4>
                    <p>Boardwalk REIT Reports Fourth Quarter 2018 Financial Results</p>
                    <a class="arrow-link blue" href="">Read More</a>
                </div>
            </div>
            <div class="excerpt-card">
                <div class="excerpt-card-text">
                    <h4 class="excerpt-card-title">Jan 2 2019</h4>
                    <p>Boardwalk REIT Announces Timing of Release of its Fourth Quarter Financial Results for the Three & Twelve Month Periods Ended December 31, 2018</p>
                    <a class="arrow-link blue" href="">Read More</a>
                </div>
            </div>
            <div class="excerpt-card">
                <div class="excerpt-card-text">
                    <h4 class="excerpt-card-title">Jan 2 2019</h4>
                    <p>Boardwalk REIT Announces Timing of Release of its Fourth Quarter Financial Results for the Three & Twelve Month Periods Ended December 31, 2018</p>
                    <a class="arrow-link blue" href="">Read More</a>
                </div>
            </div>
           </div>
                <a href="" class="btn btn-primary">View All</a>

        </div>

    </div><!-- /.container -->
</section> <!--/.multi-columns-->
