<div class="investor-market-ticker">
    <div class="market-ticker-block">

        <div class="ticker-heading" style="display: none">
            <h2 class="secondary-heading">Market Summary</h2>
            <h3>November 30, 2017</h3>
        </div>

        <div class="ticker-details">
            <ul class="list-inline d-flex align-items-center justify-content-center">
                <li class="list-inline-item d-flex align-items-center justify-content-center">
                    <dl class="row" aria-labelledby="TSX">
                        <dt class="col-12 order-last">Boardwalk REI</dt>
                        <dd class="col-12 order-first">TSX: BEI.UN</dd>
                    </dl>
                </li>
                <li class="list-inline-item d-flex align-items-center justify-content-center">
                    <dl class="row" aria-labelledby="Price">
                        <dt class="col-12 order-last">Price</dt>
                        <dd class="col-12 order-first">40.12<i class="flaticon-north red"></i></dd>
                    </dl>
                </li>
                <li class="list-inline-item d-flex align-items-center justify-content-center">
                    <dl class="row" aria-labelledby="Change">
                        <dt class="col-12 order-last">Change</dt>
                        <dd class="col-12 order-first">0.18 (20%)</dd>
                    </dl>
                </li>
            </ul>
        </div>

    </div>
</div>
