<section class="multi-columns {{ styleModifier }}">


  <div class="pt-5">
    <div class="column-wrapper">
      {{# listItems.eight }}
        {{> molecules-advantage-block}}
      {{/ listItems.eight }}
    </div>
  </div>

</section> <!--/.multi-columns-->
