<section class="multi-columns {{ styleModifier }}">
    <div class="container">
        <div class="column-wrapper">
            {{> molecules-offer-card(offerNotice: true, offerLink: '#') }}
            {{> molecules-offer-card(offerLink: '#') }}
            {{> molecules-offer-card(offerNotice: true, offerLink: '#') }}
        </div>
    </div><!-- /.container -->
</section> <!--/.multi-columns-->
