.brand-bar {
  min-height: 2rem;
  position: relative;
  overflow: hidden;

  .brand-bar-logo {
    border-width:0;
    border-style: solid;
    border-right-width: 1.5rem;
    min-height: 2rem;
    flex-grow: 3;

    svg {
      fill: #fff;
    }

    .property-logo {
      width: 110px;
      height: 75px;
    }

    @include if-min-width($M) {
      .container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        padding: 0;

        .property-logo {
          width:155px;
        }
      }
    }

    @include if-min-width($L) {
      .container {
        padding: 0 1.5rem;
      }
    }

    &.bg-black {
      border-right: 1.5rem solid $orange;
    }

    &.bg-blue {
      border-right: 1.5rem solid $red;
    }

    &.bg-darkblue {
      border-right: 1.5rem solid $yellow;
    }

  }

  .details-title,
  .view-map-btn {
    display: block;
    padding: 1.5rem;
    width: 100%;
    min-width: 200px;
    text-align: center;
    font-size: .9rem;
    text-transform: uppercase;
    font-family: $futura;
    font-weight: 700;

    i {
      margin-right: .5rem;
      font-size: 180%;
      vertical-align: middle;
      &:before{
        font-size:40px;
      }
    }
  }

  // Mobile View map button

  &.w-map-button {
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    .brand-block{
       min-height: 107px;
       width: 10%;
       min-width: 70px;
    }
    .view-map-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background: #eee;
      color: $blue;
      text-align: center;
      padding: 1rem;
      font-weight: 700;
      font-size: 1.2rem;
      text-transform: uppercase;

      i {
        font-size: 150%;
        vertical-align: middle;
        margin-left: 1rem;
        margin-right: 0.5rem;
      }

      &::after{
        margin-left: 0.5rem;
        @include flaticon("\f108")
      }
        &[aria-expanded="true"]::after{
            transform: rotate(-90deg);
            margin-left: 0.5rem;
        }
        &[aria-expanded="false"]::after{
            transform: rotate(90deg);
            margin-left: 0.5rem;
        }
    }
    @include if-between(0,$M) {
        .view-map-btn {
            display: inline-block;
            background: $white;
            color: $blue;
            font-size: 1rem;
            font-weight: bolder;
            width: 100%;
            border: 0;
            padding: 15px 0;
            border-bottom: 1px solid #85a0b5;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
    @include if-min-width($M) {
        .brand-block{
            width: 20%;
            min-width: 200px;
        }
    }
    @include if-min-width($M) {
      .view-map-btn {
        font-size: .9rem;
        width: 20%;
        min-width: 200px;
        color: #fff;
        border: none;
        pointer-events: all;
        position: absolute;
        right: 0;
        background: transparent;

        &:focus,&:hover {
            text-decoration-line: none;
            border: none;
            box-shadow: inset 0 0 0px 4px #ffffff;
        }
      }


    }
  }

  @include if-min-width($S) {
    display: flex;

    .brand-bar-logo {
      margin-right: 0;
    }

    .view-map-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20%;
      color: #fff;
      min-height: 107px;
    }

  }

  svg {
    fill: $white;
    margin-left: 25px;
    &.living-logo-simple {
      width: 80px!important;
      margin-left: 25%;
    }
  }

  &.brand-bar-details {

      .details-title {
          width: 75%;
          height: 115px;
          &.bg-black {
          border-right: 1.5rem solid $red;
          }
          &.bg-blue {
            border-right: 1.5rem solid $orange;
          }

          &.bg-darkblue {
            border-right: 1.5rem solid $yellow;
          }
          &.tertiary-brandBorder {
            border-width: 0;
            border-right-width: 1.5rem;
            border-style: solid;
          }
          p {
            @media only screen and (max-width: $S) {
                width:250px;
            }
              max-width: 350px;
              display: black;
              overflow-wrap: break-word;
              font-size: 24px;
              line-height: 20px;
              margin-bottom: 0;
          }

          span {
              display: block;
              font-size: 14px;
              line-height: 14px;
          }
      }

      .brand-bar-logo {
          padding-left: 10px;
          padding-right: 10px;
          border-right: 0;
          min-width: 170px;
          max-height: 115px;
          @media only screen and (max-width: $S) {
            margin: -1em 0 -1.5em;
          }
      }
  }

  &.brand-bar-strip {

      @media only screen and (max-width: $M) {
          .view-map-btn {
              display: none;
          }
         .brand-bar-logo {
              width: 96%;
              box-shadow: 25px 0 $blue;
              border-right-width: .9rem;
          }
      }
  }
}

.lifestyle.brand-bar .brand-bar-logo {
  border-right: 1.5rem solid $brand-lifestyle-3;
}

.communities.brand-bar .brand-bar-logo {
  border-right: 1.5rem solid $brand-comm-3;
}

.living.brand-bar .brand-bar-logo {
  border-right: 1.5rem solid $brand-living-3;
}
