.card {
  font-family: $futura;
  background-color: transparent;
  border: 0;
}


.career-card {
  text-align: left;
  padding: 1.5rem;
  margin-bottom: .7rem;

  .tertiary-heading {
    font-size: 1.5rem;
    .sub-heading{
      font-size: 1rem;
    }
  }

  p{
    font-size: 1rem;
    font-weight: 300;
  }

  @include if-min-width($S) {
    display: flex;
    flex-grow: 1;
    flex-basis: calc(32% - 1.6rem);
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
  }

  @include if-min-width($XM) {
    margin: .85rem;
    width: 100%;
  }

  .arrow-link {
    margin-top: 1em;
  }

}

