.card {
    font-family: $futura;
    background-color: transparent;
    border: 0;
}

.contact-card {
    text-align: left;
    padding: 1.5rem;
    margin-bottom: .7rem;
    height: 320px;

    @include if-min-width($XXL) {
        height: 390px;
    }

    .contact-card-image {
        display: block;
        margin: -20px auto 20px;
        overflow: hidden;
        width: 180px;
        text-align: center;

        i {
            display: inline;
            color: $blue;
            font-size: 4rem;
        }

        img {
            display: inline;
            margin: 0;
            vertical-align: middle;
        }
    }

    .contact-card-text {
        margin-bottom: 1rem;
    }

    a[href^="tel:"] {
        color: #000;

        &:hover {
            h3 {
                color: #0056b3;
            }
        }

        &:focus {
            h3 {
                color: #0056b3;
            }
        }
    }

    .contact-card-title,
    .contact-card-address,
    .contact-card-numbers {
        text-transform: uppercase;

        a {
            color: #005EB8;

            &:hover {
                color: #0056b3;
            }
        }
    }

    .contact-card-title {
        font-size: 1.8rem;
        font-family: $futura;
        margin-bottom: 1rem;
        font-weight: 300;
    }

    .contact-card-address,
    .contact-card-info {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .contact-card-address,
    .contact-card-numbers {
        margin-bottom: .7rem;
    }

    .contact-card-numbers {
        font-size: 1.1rem;
        font-weight: 400;
        margin-left: 0.5em;

        li {
            margin-bottom: .2rem;
        }

    }

    .contact-name {
        font-size: 1rem;
        font-weight: 300;
        margin-top: 1em;
        line-height: 1
    }

    @include if-min-width($S) {
        display: flex;
        flex-grow: 1;
        flex-basis: calc(49% - 1.6rem);
        flex-direction: column;
        justify-content: space-between;
        padding: 3rem;
    }

    @include if-min-width($XM) {
        margin: .85rem;
        width: 100%;
        //max-width: 47%; removed for bootstrap grid
    }
}

.project-contacts {
    background: black !important;

    .contact-info {
        font-size: 1.1rem;
        font-family: "futura-pt", sans-serif;
        font-weight: 500;
        line-height: .9;
        text-transform: uppercase;

        div[itemprop="jobTitle"] {
            font-style: italic;
        }

        .contact-card-numbers {
            font-size: 1rem;

            a {
                color: white;
            }
        }
    }
}

.investors-info {
    flex-basis: calc(33% - 1.6rem);
    height: auto;
}
