.feature-carousel-tiles {
  @include if-min-width($M) {
    display: flex;
    align-items: stretch;
    justify-content: center;
  }
}


.feature-carousel-tile {
  color: $white;
  width: 100%;
  margin-bottom: .5rem;

  .feature-carousel-tile-text {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 18em;

    * {
      width: 100%;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  @include if-min-width($M) {
    width: 33.33%;
    margin-bottom: 0;
  }

  &-text {
    padding: 2.5rem;
    @include if-min-width($S) {
      padding: 2.5rem 5.9rem;
    }
    @include if-min-width($M) {
      padding: 2.5rem;
    }
    // @include if-min-width($XL) {
    //   padding: 5.9rem;
    // }
  }

  img {
    margin: 0 auto;
  }

.slick-arrow {
  display: none !important;
  font-size: 1.5rem;
  color: #fff;
  width: auto;
  height: auto;
  z-index: 2;

  &::before {
    display: none;
  }
}


  .slick-dots {
    bottom: .5rem;
  }

  .slick-prev,
  .slick-next {
    bottom: 1rem;
    top: auto;
  }

  .slick-prev {
    right: 3rem;
    left: auto;
  }

  .slick-next {
    right: 1rem;
  }

  .slick-disabled {
    opacity: .5;
  }

  [class^="icon-"] {
    display: block;
  }

  @include if-min-width($XM) {
    .slick-arrow {
      display: block !important;
    }
    .slick-dots {
      display: none !important;
    }
  }
}

.feature-carousel-tile-carousel {
  z-index: -1;
}
