.image-carousel {
    //max-width: 500px;
    background: $black;

    img {
        width: 100%;
        margin: 0;
    }

    .image-item {
        position: relative;
    }

    .slick-arrow {
        display: none !important;
        font-size: 3.5rem;
        color: #c6c8ca;
        width: auto;
        height: auto;
        z-index: 2;
        opacity: .5;

        &::before {
            display: none;
        }
    }

    .slick-dots {
        bottom: .5rem;
    }

    .slick-prev,
    .slick-next {
        top: 50%;
    }

    .slick-prev {
        left: 1rem;
    }

    .slick-next {
        right: 1rem;
    }

    .slick-disabled {
        opacity: .5;
    }

    [class^="icon-"] {
        display: block;
    }

    .image-caption {
        width: 100%;
        background: #000;
        color: $white;
        padding: 1.5rem 2rem 2.5rem 2rem;
        text-align: center;

        p {
            font-size: 1rem;
            font-family: $futura;
            font-weight: 100;
            line-height: 1.5;

            &:only-child {
                margin: 0;
            }
        }
    }

    @include if-between(0, $M) {
        .image-caption {
            position: absolute;
            top: auto;
            top: auto;
            bottom: 0px;
            padding: .5rem 1rem 1.5rem 1rem;
        }

        .slick-dots {
            bottom: .25rem;
        }

        .slick-dots li.slick-active {
            &::before {
                color: white;
            }
        }

        .slick-dots li button {
            &::before {
                color:white;
            }
        }
    }

    @include if-min-width($XM) {
        .image-caption {
            position: absolute;
            top: auto;
            bottom: 0;
            left: 0;
            padding: 1.5rem 6rem 2.5rem 2rem;
        }

        .slick-arrow {
            display: block !important;
        }

        .slick-dots {
            display: none !important;
        }
    }
}
