.jumbotron-wrapper {
  position: relative;
  //background-color: black;
  //z-index: -1;

  &.black-bg {
    background: $black;
  }

  &.blue-bg {
    background: $blue;
  }

  &.darkblue-bg {
    background: $darkblue;
  }

  & .heading,
  & p {
    text-shadow: -1px -1px 25px rgba(0, 0, 0, 0.5);
  }

  // Keep the mobile nav from covering jumbotron
  @include if-min-width($MNS) {
    margin-top: 0;
  }

  .jumbotron-carousel_container {
    text-align: center;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    min-height: 230px;

    @include if-min-width($M) {
      margin-top:  1em;
      margin-bottom: 1em;
    }

    .heading {
      margin-bottom: 10px;
    }

    .sub-heading svg {
      margin: 0;
      height: auto;
      min-height: 0;
      margin-bottom: 0;

      &.living-logo-simple {
        width: 6rem;
      }
    }

    p {
      font-size: 28px;
      line-height: 32px;
      font-weight: normal;
      text-transform: uppercase;
      margin: 0;
    }

    @media screen and (max-width:767px) {
      p {
        font-size: 18px;
        line-height: 22px;
      }
      .heading {
        font-size: 30px;
        margin-bottom: 0;
      }
    }

    @include if-min-width($M) {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0;
    }

    &.homepage {
      background-size: 0;
      transform: none;
      margin-top: 10%;
      top: auto;
      left: auto;

      @include if-between(0,$M) {
        background-size: cover;
        position: relative;
        margin-top: 0;
      }
      @include if-between(0,$XM) {
            &.imageCrop-sm {
                display:block;
            }
        }

      p {
        font-size: 1.5rem;
        text-transform: none;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0.5em;
        @include if-min-width($M) {
          margin-top:  0.5em;
          margin-bottom: 0.5em;
        }
      }

      @include if-min-width($M) {
        position: absolute;
        z-index: 1;
        padding: 0;
      }
    }
  }
}

.jumbotron-wrapper,
.jumbotron-carousel {
    max-height: 771px;
    img {
        width: 100%;
    }
}

.jumbotron-carousel,
.jumbotron-carousel-fade {
    img {
      margin: 0;
      font-family: 'object-fit: cover;';
      @supports(object-fit:cover) {
        min-height: 350px;
        object-fit: cover;
      }
    }

    .slick-arrow {
      display: none !important;
      font-size: 3.5rem;
      color: #c6c8ca;
      width: auto;
      height: auto;
      z-index: 2;
      opacity: .5;

      &::before {
        display: none;
      }

      &:hover {
        opacity: 1;
      }
    }

    .slick-prev,
    .slick-next {
      top: 50%;
    }

    .slick-prev {
      left: 1rem;
    }

    .slick-next {
      right: 1rem;
    }

    .slick-disabled {
      opacity: .2;
    }

    &.slick-dotted.slick-slider {
        margin-bottom: 0;
    }

    .slick-dots {
        bottom: 15px;

        &.active-list .slick-active{
            outline: 3px solid $blue;
        }
        li  {
            margin: 0 8px;

            button{
                &::before {
                    font-size: 1rem;
                    color: $white;
                    opacity: 1;
                }
            }

            &.slick-active {
                button::before {
                    color: $blue;
                }
            }
        }
    }

    @include if-min-width($XM) {
      .slick-arrow {
        display: block !important;
      }
    }


    [class^="icon-"] {
      display: block;
    }

    &.white {
        .heading,
        .subheading,
        p {
            color: $white;
        }
    }
}

// Hide Jumbotron Carousel Fade if on mobile, as the image will replace.
.jumbotron-carousel-fade {
  background-color: black;
  height: auto;
  z-index: -1;
  @include if-between(767px,768px) {
    height: 229px;
  }
  @include if-between(0,767px) {
    display: none;
  }
}
