.advanced-filters ~ .map-holder  {
    display: none;
    @include if-min-width($M) {
        display: block;
    }
}

.map-holder {
    display: block;

  &.grey-bg {
    background: #eee;
  }

  &.blue-bg {
    background: $blue;
    color: $white;
  }

  &.black-bg {
    background: $black;
    color: $white;
  }
}

.map-wrap {
  position: relative;

  .infobox {
    position: absolute;
    left: 1rem;
    top: 45%;
    transform: translateY(-50%);
    border: 1px solid #000;
    background: $white;
    padding: 1.5rem;

    width: 350px;

    height: auto;

    .map-frame-infobox {
      overflow: auto;
      -ms-overflow-style: none;
      height: 100%;
    }

    & .icon-close {
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer;

      &:before {
          font-size: 26px
      }
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      display: block;
      height: 0;
      width: 0;
      left: 100%;
      top: 50%;
      transform: translateY(-50%);

      border-top: 10px solid transparent;
      border-left: 10px solid #000;
      border-bottom: 10px solid transparent;
    }

    &::after {
      border-left: 10px solid $white;
      left: calc(100% - 1px);
    }

    .arrow-link:hover,
    .arrow-link:focus {
        color: $blue;
        opacity: 1;
        text-decoration-line: underline;
    }
  }
}

#map-frame {
  min-height: 450px;
  height: 60vh;

  img{
    margin:0;
    display: inline;
  }

}

.map-legend {
  text-align: center;
  font-size: 90%;
  margin: 0;

  [class*="-marker"] {
    text-transform: uppercase;
    font-family: $futura;
    font-weight: 500;
    display: inline-block;

    &::before {
      content: '';
      display: inline-block;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      vertical-align: middle;
      transform: translateY(-2px);
      margin: 1rem;
    }
  }

  [class^="lifestyle"] {
    &::before {
      background: $brand-lifestyle-1;
    }
  }

  [class^="communities"] {
    &::before {
      background: #3366CC;
    }
  }

  [class^="living"] {
    &::before {
      background: $brand-living-1;
    }
  }
}

// Map Info Window

.map-holder {
  position: relative;

  .map-frame-infobox {
    font-family: $futura;
    max-width: 300px;

    .map-infobox-img {
      position: relative;
      margin: 0;

      img {
        width: 100%;
        height: 172px;
        background: #000;
        margin-top: 0;

      }

      .property-image {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 150px;
        margin: 0;
      }
    }

    .map-infobox-title {
      font-family: $futura;
      font-weight: 300;
      margin: 0;
      text-transform: uppercase;
    }

    .map-infobox-address {
      font-weight: 300;
      margin: 0;
    }

    &.lifestyle hr {
      border-top: 5px solid $black;
    }

    &.communities hr {
      border-top: 5px solid $blue;
    }

    &.living hr {
      border-top: 5px solid $darkblue;
    }

    .price-wrapper {
      font-size: 2.5rem;
      line-height: 1;
      margin-bottom: 1rem;

      .price-align {
        display: flex;
        align-items: flex-end;
        position: relative;
        sup {
          font-size: 55%;
        }
      }

      span {
        &:last-of-type {
          margin-left: 5px;
          font-family: $futura;
          font-weight: 400;
          font-size: 0.8125rem;
          text-transform: lowercase;
          line-height: .8;
          margin-bottom: .5em;
        }
      }


    }

  }
}
