
//body.modal-open {
  //position: fixed;
//}

.modal-dialog {
  max-width: 992px;
}

.modal-content {
  padding: 1rem 1.5rem;
}

.modal-header {
  border-bottom: none;
  padding: 1rem 0.5rem 2rem;
  .close {
    padding: 0;
  }
}

.modal-title.secondary-heading {
  font-size: 2rem;
}

.modal .heading-hr {
  position: relative;
  border-top: 1px solid #44474b;
  margin: -40px 10px -10px;

  @media screen and (min-width: 992px) {
      margin: -50px 10px -10px;
  }
}

@media screen and (min-width: 768px) {
  .modal-body {
      margin: 0 -5rem
  }
}
