.promo-announcement {
  text-align:center;
  padding: 20px;
  font-family: $futura;
  font-weight: 400;
  .promo-title {
    display: inline-block;
    font-size: 24px;
  }
  .arrow-link {
    white-space: nowrap;
    display: block;
    margin-right: -60px;
    &.d-inline{
        position: relative;
        top: 7px;
    }
  }
  button.close,
  &:hover,
  &:focus {
    border-bottom: none!important;
    opacity: 1;
    text-shadow: none;
    color: white;
  }
  @include if-min-width($XS) {
    span {
      margin-right: 2rem;
    }

    .arrow-link {
      display: inline-block;
      margin-top: 0;
    }
  }
  &.alert-announcement {
      background: $white;
      border-bottom: 1px solid $black;
      color: #000;

      .promo-title {
          font-weight: bold;
      }

      .arrow-link {
        color: $blue;

        &::after {
            color: $blue;
        }
      }
  }
  &.fixed-top ~ .wrapper {
    margin-top: 71px;
  }
  &.fixed-top ~ .panel-open {
    margin-top: 71px;
    margin-bottom: -71px;
  }
  &.bg-white,
  &.bg-yellow,
  &.bg-grey,
  &.bg-bluegrey {
      .promo-title,
      .arrow-link,
      .arrow-link::after,
      .close
      .icon-close::before {
        color: $black
      }
  }
}
