.related-items {
  color: $white;

  .container {
    padding: 0;
  }

  .related-item {
    width: 100%;
    align-items: stretch;

    img {
      margin: 0;
      min-width: 25%;
      object-fit: cover;
      font-family: 'object-fit: cover;';
    }

     &.darkblue {
       background: $darkblue;
     }

     &.blue {
       background: $blue;
     }

     &.black {
       background: #000;
     }
  }

  .btn.btn-primary {
    white-space: normal;
  }

  .item-content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 50%;
    width: 100%;
    z-index: 1;
    p {
      display: none;
    }
  }

  // for the full screen version
  .container-fluid-full {

    .related-item:last-child {
      margin-bottom: 1rem;

      .item-content {
        order: 2;
      }
    }

    .related-title {
      font-size: 2.8rem;
    }
    .related-subtitle {
      font-size: 2.1rem;
    }
  }

  @include if-min-width($S) {
    .related-item {
      display: flex;

      .item-content
      {
        width: 50%;
      }
    }
  }

  @include if-min-width($XM) {
    .container-fluid-full {
      .related-item {
        .item-content {
          p {
            display: block;
          }
        }
      }
    }
  }

    @include if-min-width($L) {


      .container-fluid-full {

        .related-item:last-child {
          margin-bottom: 0;
          .item-content {
            order: 0;
          }
        }

      }

      .container-fluid-full, .container {
        display: flex;
      }

      .secondary-heading {
        font-size: 2rem;
        @media screen and (min-width: 1200px) {
            font-size: 2rem !important;
        }

        @media screen and (min-width: 1900px) {
            font-size: 3rem !important;
        }
      }

      /* one item */

      .related-item:first-child:nth-last-child(1) {

        img,
        .item-content {
          width: auto;
        }
      }
      /* two items */

      // .related-item:first-child:nth-last-child(2),
      // .related-item:first-child:nth-last-child(2)~.related-item {
      //   .item-content {
      //     width: 100%;
      //   }
      // }
    }

    @include if-min-width($L) {
      img {
        min-height:335px;
        max-height: none;
        object-fit: cover;
        font-family: 'object-fit: cover;';
        object-position: center;
        display:  block;
        width: auto;
      }
    }

    @include if-min-width($XXL) {
      .secondary-heading {
        font-size: 3rem;
      }
    }
}
