.search-block {
  padding: 3rem;
  background-size: cover;
  text-align: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: $white;
  width: 100%;
  margin-bottom: 3rem;
  @include if-min-width($XM) {
      margin-bottom: 0;
  }
  .btn-primary.btn-primary {
    margin: 0 0 2px 0;
  }

  .select__label {
    display: inline-block;
  }

  @include if-min-width($M) {

    .dropdown {
        width: 75%;
    }
    .btn-primary.btn-primary.icon-btn {
        width: 68px;
        margin-top: -5px;
    }
  }
  @include if-min-width($XM) {
    padding: 6rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
