.site-search {
  padding: 2em  1em 0;
  margin-bottom: -4em;

  input.borderless {
    padding: 14px 15px;
    margin-top: 0;
  }

  .site-search-icon-btn {
    width: 75px;
    margin-top: -8px;
  }

  @include if-min-width($M) {
    .site-search-submit {
      margin-left: -20px;
    }
  }

  label {
    width: 100%;
  }

  // handle change of load more/view less button without JS
  #loadMoreSearchToggle {
    .viewLess {
      display: none;
    }

    .loadMore {
      display: block;
    }

    &[aria-expanded="true"] {
      .viewLess {
        display: block;
      }

      .loadMore {
        display: none;
      }
    }
  }
  //}
  //&-list {
  // padding-bottom: 3rem;
  //  @include if-min-width($M) {
  //      padding-bottom: 6.25rem;
  //  }
  //   &-item {
  //       h5 {
  //          font-weight: 900;
  //          text-transform: uppercase;
  //     }
  //  }
  // }
}

#addsearch-results {
  padding:0  !important;
  font-family: "Source Sans Pro", sans-serif !important;
  font-size: 20px !important;
  color: #000 !important;
  font-weight: 300 !important;
  line-height: 26px  !important;
}
#addsearch-results .addsearch-result-item-sub h2 a{
  font-size:20px;
  font-family: inherit;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 0 -10px;
  line-height: 24px;
text-size-adjust:100%
}
#addsearch-results .addsearch-result-item-sub p {
  font-family: "Source Sans Pro", sans-serif;
  color: #000;
  font-weight: 300;
  line-height: 1.3;
  font-size: 1.1rem;
  margin: 0 0 1.5rem;
}

#addsearch-logo { display: none !important; }
/* HIDE THUMBNAILS */
#addsearch-results .addsearch-result-item-container,
#addsearch-results .addsearch-result-item-sub-active,
#addsearch-results .addsearch-result-item-sub {
  background-size: 0 0 !important;
}
#addsearch-results .addsearch-result-item-sub-active div,
#addsearch-results .addsearch-result-item-sub div {
  padding-left: 0px !important;
}
#addsearch-results-bottom {display: none!important}
 #addsearch-results-mid{
margin-bottom: 30px;
}

