.tabbed-content-wrapper {
  padding: 3rem 0;

  .nav-tabs {
    border: 0;
  }

  &.grey-bg {
    background: $grey;
  }

  &.blue-bg {
    background: $blue;
    color: $white;
  }

  &.left {

    .filter-tabs {
      justify-content: flex-start;
    }
  }

}
