.timeline-row {
    margin: 0.5rem 0;
    height: auto;
    font-family: $futura;
    overflow: hidden;
    @include if-min-width($M) {
        height: 300px!important;
    }
    .timeline-year,
    .timeline-content{
        width: auto;
        @include if-min-width($M) {
            width: 420px;
        }
    }
    .timeline-year {
        padding: 0.5rem 0.5rem 0 0;
        height: 113px;
        text-transform: uppercase;
        @include if-min-width($M) {
            height: 300px;
        }
        h2 {
            font-size: 4.5rem;
            font-weight: 700;
            line-height: 0.9;
            width:100%;
            text-align: right;
            @include if-min-width($M) {
                font-size: 6rem;
            }
        }
    }
    .timeline-image {
        width:auto;

        @include if-min-width($M) {
            width: 300px!important;
        }
        picture.responsive-image {
                width: auto;
                height: 200px;
            &.imageCrop-sm img {
                height: 200px!important;
            }
            @include if-min-width($M) {
                &.imageCrop-lg img {
                    width: 300px!important;
                    height: 300px!important;
                }
            }
        }
    }
    .timeline-content {
        padding: 0.6rem;
        h3 {
            margin: 0;
            border-bottom: 2px solid white;
            width: 100%;
        }
        p{
            width: 100%;
            margin: 0;
            font-size: 1.1rem;
            line-height: 1.2;
        }
    }

    @include if-min-width($M) {
        &.flex-md-row {
            .timeline-year h2 {
                text-align: left;
            }
            .timeline-content {
                 text-align: right;

             }
         }
         &.flex-md-row-reverse {
             .timeline-year {
                 text-align: right;
             }
         }
    }
    &.bg-white {
        border: 1px solid #557b98;
        .timeline-content h3 {
            border-color: #557b98;
        }
    }
    &.bg-yellow {
        .timeline-content h3 {
            border-color: $black;
        }
    }

}
