// Build on Bootstrap buttons

.btn {
    margin: 0 0 1em;
    line-height: 1;
    white-space: normal;
    display: block;
    width: 100%;

    .black &.btn,
    .black-bg &.btn {
        border-color: $blue !important;
    }
}

.btn-group {
    display: flex;
    flex-direction: column-reverse;

    @include if-min-width($S) {
        display: inline-flex;
        flex-direction: inherit;
    }

    .btn {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.btn-primary {
    @include twitter-bootstrap-button();
    @include boardwalk-button($btn-bg, $btn-bottom, $btn-text);

    &.red {
        @include boardwalk-button($btn-red-bg, $btn-red-bottom, $btn-red-text);
    }

    &.white {
        @include boardwalk-button($btn-white-bg, $btn-white-bottom, $btn-white-text);

        &:focus,
        &:active {
            @include boardwalk-button($blue, $white, $white);
            border-color: white !important;
        }
    }

    &.blue {
        @include boardwalk-button($btn-blue-bg, $btn-blue-bottom, $btn-blue-text);
    }

    &.transparent {
        @include boardwalk-button(transparent, transparent, $white);

        @include if-min-width($XM) {
            padding-bottom: 18px;
        }
    }

    // for icons
    i {
        font-size: 24px;
    }

    // wider button variation
    &.btn-lg {
        padding-left: 3.5rem;
        padding-right: 3.5rem;

        @include if-min-width($S) {
            padding-left: 6.5rem;
            padding-right: 6.5rem;
        }
    }

    @include if-min-width($S) {
        white-space: normal;
    }
}

.bg-blue #filters .btn-primary {
    @include boardwalk-button($btn-white-bg, $btn-white-bottom, $btn-white-text);
    padding: 1.1rem 0 !important;

    &:focus,
    &:active {
        @include boardwalk-button($blue, $white, $white);
        border-color: white !important;
    }
}

.btn-primary-outlined {
    @include twitter-bootstrap-button();
    border-color: $red;
}

// Resident Member Login
.login-link {
    color: $white;
    font-family: $futura;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    display: inline-block;

    &:hover {
        opacity: 0.8;
        text-decoration: none;
    }

    &:before {
        @include flaticon("\f133");
        color: $white;
        font-size: 20px;
        position: absolute;
        top: 2px;
        left: 5px;
    }
}

// Arrow Link + Back link - used throughout
.arrow-link,
.back-link {
    color: $white;
    font-family: $futura;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    display: inline-block;

    &:hover {
        color: $white;
        opacity: 0.6;
        text-decoration: underline !important;

        &::after,
        &::before {
            opacity: 0.8;
        }
    }

    &:focus {
        outline: 1px solid $white;
        outline-offset: 10px;
    }

    &.blue {
        color: $blue;

        &::after,
        &::before {
            color: $blue;
        }

        &:focus {
            outline: 1px solid $blue;
            outline-offset: 10px;
        }
    }
}

// Arrow link
.arrow-link {
    &::after {
        color: $white;
        font-size: 20px;
        margin-left: 5px;
        position: relative;
        top: 2px;
    }
}

// Back button styles
.back-link {
    max-width: 110px;
    white-space: normal;

    &::before {
        margin-left: -22px;
        top: 10px;
        @include flaticon("\f103");
        color: $white;
        font-size: 17px;
        margin-right: 5px;
        position: relative;
        transform: rotate(180deg);
    }

    &.careers {
        &::before {
            top: 0px;
        }
    }
}

//Inline icon arrows
.inline-arrow {
    font-family: "futura-pt", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;

    .back-link:before {
        top: 1px;
    }
}

// Download button styles
.btn-download {
    border: 0;

    &.flaticon-download{
        padding:15px 13px;
        line-height: 1.75;
        &::before {
            display: none;
        }
        &::after {
            content: "\f11a";
            float: right!important;
        }
        @include if-min-width($M) {
            padding:15px 25px;
        }

    }


    &:hover {
        border: 0;
    }
}

// Icon buttons
.icon-btn.icon-btn {
    padding-left: 2px;
    padding-right: 0;
    line-height: 1;
}

@include if-min-width($M) {

    .btn {
        display: inline-block;
        width: auto;
    }
}

// Tooltips
[data-toggle="tooltip"] {
    color: $blue;
}

#form-hp-filters-section .icon-btn,
#filter-component .icon-btn,
.property-search-block .icon-btn.icon-btn {
    width: 4em;
    padding: 0.9rem 0 0.9rem;

    @include if-min-width (1540px) {
        padding: 1.10rem 0 1.10rem;
        width: 5em;
    }
}

.slick-slider button.slick-arrow {
    &:hover {
        color: #979797 !important;
    }

    &:focus {
        opacity: 1 !important;
        color: $blue !important;
        box-shadow: none !important;
    }
}
