.date-meta {
  margin:0 -2.25px;
  border: 1px solid #000;
  display: inline-block;
  width: 4.5rem;
  text-align: center;
  font-family: $futura;
  &:only-child {
    width: 7rem;
  }
  span {
    display: block;
  }
  .title{
    text-transform: uppercase;
  }
  .month,
  .day {
    line-height: 1;
  }

  .month {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: .2rem .2rem 0 .2rem;
  }

  .day {
    font-size: 3.5rem;
    font-weight: 400;
  }

  .title,.year {
    background: #000;
    color: #fff;
    padding: .2rem;
  }
}
