.floating-button {
    height: 84px;
    max-width: 84px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    z-index: 10;
    bottom: 65px;
    right: 20px;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
    line-height: 0.9;

    &.op4{
        height: 90px;
        width: 90px;
        max-width: none;
        border-radius: 50%;
        .icon {
            font-size: .85rem;
            border-radius: 5px;
            &:before {
                font-size: 60px;
                line-height: 0.4;
            }
        }
    }

    &.op3{

        .icon {
            border-radius: 5px;
            width: 100px;
            height: 74px;
            &:before {
                font-size: 87px;
                line-height: 0.9;
            }
        }
        .caption {
            padding: 3px 5px;
            margin-top: -33px;
            font-size: 14px;
        }
    }
    &.op2{

        .icon {
            border-radius: 5px;
            width: 86px;
            height: 60px;
            &:before {
                font-size: 70px;
                line-height: 0.9;
            }
        }
        .caption {
            padding: 3px 5px;
            margin-top: 2px;
            border-radius: 5px;
        }
    }

    &.op1{

        .icon {
            font-size: .85rem;
            border-radius: 5px;
            padding: 6px 7px;
            height: 58px;
            &:before {
                font-size: 60px;
                line-height: 0.8;
            }
        }
        .caption {
            padding: 3px 5px;
            margin-top: 1px;
            border-radius: 5px;
        }
    }
}
