[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after,
.fi:before{
        font-size: 24px;
        font-weight: 100;
        margin-left: 0;
        display: inline-block;
        font-family: "Flaticon";
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        text-decoration: inherit;
        text-rendering: optimizeLegibility;
        text-transform: none;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        //font-smoothing: antialiased;

    }

.icon-list ul li{
    margin: 20px;
    font-size: 3em;
    display: inline-block;
}

.icon-down-arrow {
    &::after {
        color: $white;
        font-size: 20px;
        left: 2px;
        top: 8px;
        transform: rotate(180deg);
    }
}
.icon-cta-left {
  transform: rotate(180deg);
}
.icon-bars:before {
    font-size: 34px;
    font-style: normal !important;
}
.icon-close:before {
    @include flaticon("\f10d");
    font-size: 36px;
}

.en footer .login-link::before {
    display: none;
    @include if-min-width($XXL) {
    display: inline-block;
      top: 4px;
      left: -25px;
    }
}
.social-feeds i::before {
    font-size: 34px;
}
.icon-search::before {
    font-size: 24px;
    font-style: normal !important;
}
.ul-mobile-nav li a i {
    transform: rotate(90deg);
    top: 5px;
    right: 5px;

    &.icon-ctrl:before {
        font-size: 14px;
        font-style: normal !important;
    }
}
.ul-mobile-nav li a[aria-expanded="true"] i {
    top: 10px;
    right: 21px;
    transform: rotate(-90deg);

    &.icon-ctrl:before {
        font-size: 14px;
        font-style: normal !important;
     }
}

.ul-mobile-nav a[aria-expanded="true"] .icon-ctrl:before {
    transform: rotate(-180deg);
}

@media (min-width: 768px) {
    .property-list-item-details-top::after {
        font-size: 32px;
        font-style: normal !important;
        transform: none;
        right: 1rem;
        top: 46%;
    }
}
.icon-time:before {
    font-size: 36px;
    font-style: normal !important;
}
.icon-date:before {
    font-size: 36px;
    font-style: normal !important;
}
.icon-attachment:before {
    font-size: 45px;
    font-style: normal !important;
}
.contact-card .contact-card-image i.flaticon-phone:before {
    font-size: 4rem !important;
}
.contact-form .flaticon-mail:before {
    font-size: 3rem !important;
}
.feature-icon .icon:before {
    font-size: 3.5rem;
}

.feature-icon .feature-text {
    margin-top: 0.25rem;
}
.hp-promos .icon-ctrl::before {
  font-size: 1.5rem;
  transform: rotate(-90deg)!important;
}
.label-icon-element i {
    top: 45%;
    color: #787878
}

.login-link:before {@include flaticon("\f105")}
.icon-down-arrow::after {@include flaticon("\f108")}
.icon-bars:before { @include flaticon("\f100")}
.icon-close:before {@include flaticon("\f10d")}
.icon-search::before {@include flaticon("\f101")}
.m-nav-find a::after,.m-nav-investors a::after,.m-nav-aboutus a::after{@include flaticon("\f108")}
.dropdown__label::after,.icon-ctrl::before, .menu-label::after {@include flaticon("\f108")}
.icon-time:before {@include flaticon("\f113")}
.icon-date:before {@include flaticon("\f114")}
.icon-attachment:before {@include flaticon("\f110")}
.arrow-link::after {@include flaticon("\f103")}
.icon-pin::before {@include flaticon("\f102")}
.property-list-item-details-top::after {@media (min-width: 768px) {@include flaticon("\f108")}}
.property-detail-dropdown::after {@include flaticon("\f108")}
.advanced-filters-toggle:not(.advanced-filters-toggle-header) button::after {@include flaticon("\f108")}
.back-btn::before,.offer-card .offer-card-title::after {@include flaticon("\f108")}

.flaticon-open-book:before { content: "\f144"; }
.flaticon-heart:before { content: "\f145"; }
.flaticon-billiard:before { content: "\f146"; }
.flaticon-comment:before { content: "\f147"; }
.flaticon-warm:before { content: "\f148"; }
//.icon-cta:before,.icon-cta-left:before {@include flaticon("\f103")}
.icon-cta,.icon-cta-left {
    opacity: .95;
    background-image: url(/assets/images/svgs/arrow-outline.svg);
    width: 40px;
    height: 40px;
    background-size: cover;
    resize: both;
    @include if-min-width($M) {
        width: 72px;
        height: 72px;
    }
}
