<div class="stories-item_news-block">
  <div class="news-block-media--{{styleModifier}}">
    <picture>
        <source srcset="https://picsum.photos/900/600/?random" media="(min-width: 80em)">
        <source srcset="https://picsum.photos/600/400/?random" media="(min-width: 35em)">
        <source srcset="https://picsum.photos/300/200/?random">
        <img src="https://picsum.photos/900/600/?random" alt="" title="">
    </picture><!-- /.bucket-image -->
  </div><!-- /.news-block-media -->
  <div class="news-block-content">
    <h2 class="news-block-title">Title Goes Here Lorem Ipsum Elut</h2>
    <p>Cras ut mi ut neque condimentum lobortis sit amet sit amet  lorem ipsum dolor amet sit mi cursus lacinia elut ...<br />
    {{> atoms-arrow-link:blue(arrow-link-url: "#", arrow-link-text: "Apply Now") }}</p>
  </div><!-- /.news-block-content -->
</div><!-- /.stories-item_news -->
