<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: #005EB8;"></span>
    <span class="sg-label">
      $brand-comm-1 <br />
      #005EB8
    </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000;"></span>
		<span class="sg-label">
			$brand-comm-2 <br />
			#000000
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E03C31;"></span>
    <span class="sg-label">
      $brand-comm-3 <br />
      #E03C31
    </span>
	</li>
</ul>
