<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #004C97;"></span>
    <span class="sg-label">
      $brand-living-1 <br />
      #004C97
    </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #005EB8;"></span>
    <span class="sg-label">
      $brand-living-2 <br />
      #005EB8
    </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F6BE00;"></span>
    <span class="sg-label">
      $brand-living-3 <br />
      #F6BE00
    </span>
	</li>
</ul>
