<time itemprop="startDate" content="2018-10-04" class="date-meta">
    <span class="title">START</span>
    <span class="month">{{ dateMeta.month }}</span>
    <span class="day">{{ dateMeta.day }}</span>
    <span class="year">{{ dateMeta.year }}</span>
</time>
<time itemprop="endDate" content="2018-10-04" class="date-meta">
    <span class="title">END</span>
    <span class="month">{{ dateMeta.month }}</span>
    <span class="day">{{ dateMeta.day }}</span>
    <span class="year">{{ dateMeta.year }}</span>
</time>

