<style>
    [class^="flaticon-"]:before,
    [class*=" flaticon-"]:before,
    [class^="flaticon-"]:after,
    [class*=" flaticon-"]:after {
        font-family: Flaticon;
        font-size: 30px;
        font-style: normal;
        margin-left: 20px;
        color: #333;
    }
    .wrapper {
        max-width: 600px;
        margin: auto;
        padding: 0 1em;
    }
    .title {
        font-size: 1.25em;
        text-align: center;
        margin-bottom: 1em;
        text-transform: uppercase;
    }
    header {
        text-align: center;
        background-color: #222;
        color: #fff;
        padding: 1em;
    }
    header .logo {
        width: 210px;
        height: 38px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 1em;
        border: none;
    }
    header strong {
        font-size: 1.95em;
        font-weight: bold;
        vertical-align: middle;
        margin-top: 5px;
        display: inline-block;
    }
    #glyphs {
        border-bottom: 1px solid #ccc;
        padding: 2em 0;
        text-align: center;
    }
    .glyph {
        display: inline-block;
        width: 9em;
        margin: 1em;
        text-align: center;
        vertical-align: top;
        background: #FFF;
    }
    .glyph .glyph-icon {
        padding: 10px;
        display: block;
        font-family:"Flaticon";
        font-size: 64px;
        line-height: 1;
    }
    .glyph .glyph-icon:before {
        font-size: 64px;
        color: #222;
        margin-left: 0;
    }
    .class-name {
        font-size: 0.65em;
        background-color: #222;
        color: #fff;
        border-radius: 4px 4px 0 0;
        padding: 0.5em;
        color: #FFFF99;
        font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    }
    .author-name {
        font-size: 0.6em;
        background-color: #fcfcfd;
        border: 1px solid #DEDEE4;
        border-top: 0;
        border-radius: 0 0 4px 4px;
        padding: 0.5em;
    }
    .class-name:last-child {
        font-size: 10px;
        color:#888;
    }
    .class-name:last-child a {
        font-size: 10px;
        color:#555;
    }
    .class-name:last-child a:hover {
        color:#a9fd00;
    }
    .glyph > input {
        display: block;
        width: 100px;
        margin: 5px auto;
        text-align: center;
        font-size: 12px;
        cursor: text;
    }
    .glyph > input.icon-input {
        font-family:"Flaticon";
        font-size: 16px;
        margin-bottom: 10px;
    }
    .attribution .title {
        margin-top: 2em;
    }
    .attribution textarea {
        background-color: #fcfcfd;
        padding: 1em;
        border: none;
        box-shadow: none;
        border: 1px solid #DEDEE4;
        border-radius: 4px;
        resize: none;
        width: 100%;
        height: 150px;
        font-size: 0.8em;
        font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
        -webkit-appearance: none;
    }
    .iconsuse {
        margin: 2em auto;
        text-align: center;
        max-width: 1200px;
    }
    .iconsuse:after {
        content: '';
        display: table;
        clear: both;
    }
    .iconsuse .image {
        float: left;
        width: 25%;
        padding: 0 1em;
    }
    .iconsuse .image p {
        margin-bottom: 1em;
    }
    .iconsuse .image span {
        display: block;
        font-size: 0.65em;
        background-color: #222;
        color: #fff;
        border-radius: 4px;
        padding: 0.5em;
        color: #FFFF99;
        margin-top: 1em;
        font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    }
    #footer {
        text-align: center;
        background-color: #4C5B5C;
        color: #7c9192;
        padding: 1em;
    }
    #footer a {
        border: none;
        color: #a9fd00;
        font-weight: normal;
    }
    @media (max-width: 960px) {
        .iconsuse .image {
            width: 50%;
        }
    }
    @media (max-width: 560px) {
        .iconsuse .image {
            width: 100%;
        }
    }

  </style>


<div class="icons icon-list">
    <h2>Flaticons</h2>


  <section id="glyphs">

        <div class="glyph"><div class="glyph-icon flaticon-menu"></div>
            <div class="class-name">.flaticon-menu</div>
            <div class="author-name">Author: <a data-file="001-menu" href="https://www.flaticon.com/authors/eleonor-wang">Eleonor Wang</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-magnifier-tool"></div>
            <div class="class-name">.flaticon-magnifier-tool</div>
            <div class="author-name">Author: <a data-file="002-magnifier-tool" href="https://www.flaticon.com/authors/simpleicon">SimpleIcon</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-placeholder"></div>
            <div class="class-name">.flaticon-placeholder</div>
            <div class="author-name">Author: <a data-file="003-placeholder" href="https://www.flaticon.com/authors/google">Google</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-arrow"></div>
            <div class="class-name">.flaticon-arrow</div>
            <div class="author-name">Author: <a data-file="004-arrow" href="https://www.flaticon.com/authors/elegant-themes">Elegant Themes</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-youtube-symbol"></div>
            <div class="class-name">.flaticon-youtube-symbol</div>
            <div class="author-name">Author: <a data-file="005-youtube-symbol" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-user"></div>
            <div class="class-name">.flaticon-user</div>
            <div class="author-name">Author: <a data-file="006-user" href="https://www.flaticon.com/authors/pixel-perfect">Pixel perfect</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-facebook-black-social-button-circle"></div>
            <div class="class-name">.flaticon-facebook-black-social-button-circle</div>
            <div class="author-name">Author: <a data-file="007-facebook-black-social-button-circle" href="https://www.flaticon.com/authors/linh-pham">Linh Pham</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-google-plus"></div>
            <div class="class-name">.flaticon-google-plus</div>
            <div class="author-name">Author: <a data-file="008-google-plus" href="https://www.flaticon.com/authors/linh-pham">Linh Pham</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-arrow-point-to-right"></div>
            <div class="class-name">.flaticon-arrow-point-to-right</div>
            <div class="author-name">Author: <a data-file="009-arrow-point-to-right" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-rounded-info-button"></div>
            <div class="class-name">.flaticon-rounded-info-button</div>
            <div class="author-name">Author: <a data-file="010-rounded-info-button" href="https://www.flaticon.com/authors/google">Google</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-twitter"></div>
            <div class="class-name">.flaticon-twitter</div>
            <div class="author-name">Author: <a data-file="011-twitter" href="https://www.flaticon.com/authors/elegant-themes">Elegant Themes</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-instagram-logo"></div>
            <div class="class-name">.flaticon-instagram-logo</div>
            <div class="author-name">Author: <a data-file="012-instagram-logo" href="https://www.flaticon.com/authors/bogdan-rosu">Bogdan Rosu</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-information-button"></div>
            <div class="class-name">.flaticon-information-button</div>
            <div class="author-name">Author: <a data-file="013-information-button" href="https://www.flaticon.com/authors/hanan">Hanan</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-cancel"></div>
            <div class="class-name">.flaticon-cancel</div>
            <div class="author-name">Author: <a data-file="014-cancel" href="https://www.flaticon.com/authors/minh-hoang">Minh Hoang</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-next"></div>
            <div class="class-name">.flaticon-next</div>
            <div class="author-name">Author: <a data-file="015-next" href="https://www.flaticon.com/authors/lucy-g">Lucy G</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-cast"></div>
            <div class="class-name">.flaticon-cast</div>
            <div class="author-name">Author: <a data-file="016-cast" href="https://www.flaticon.com/authors/google">Google</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-attachment"></div>
            <div class="class-name">.flaticon-attachment</div>
            <div class="author-name">Author: <a data-file="017-attachment" href="https://www.flaticon.com/authors/chanut">Chanut</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-tick"></div>
            <div class="class-name">.flaticon-tick</div>
            <div class="author-name">Author: <a data-file="018-tick" href="https://www.flaticon.com/authors/hanan">Hanan</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-cross-out-mark"></div>
            <div class="class-name">.flaticon-cross-out-mark</div>
            <div class="author-name">Author: <a data-file="019-cross-out-mark" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-clock"></div>
            <div class="class-name">.flaticon-clock</div>
            <div class="author-name">Author: <a data-file="020-clock" href="https://www.flaticon.com/authors/icon-works">Icon Works</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-calendar"></div>
            <div class="class-name">.flaticon-calendar</div>
            <div class="author-name">Author: <a data-file="021-calendar" href="https://www.flaticon.com/authors/smashicons">Smashicons</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-financial"></div>
            <div class="class-name">.flaticon-financial</div>
            <div class="author-name">Author: <a data-file="022-financial" href="https://www.flaticon.com/authors/smashicons">Smashicons</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-data"></div>
            <div class="class-name">.flaticon-data</div>
            <div class="author-name">Author: <a data-file="023-data" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-financial-1"></div>
            <div class="class-name">.flaticon-financial-1</div>
            <div class="author-name">Author: <a data-file="024-financial-1" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-investment"></div>
            <div class="class-name">.flaticon-investment</div>
            <div class="author-name">Author: <a data-file="025-investment" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-ipo"></div>
            <div class="class-name">.flaticon-ipo</div>
            <div class="author-name">Author: <a data-file="026-ipo" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-download"></div>
            <div class="class-name">.flaticon-download</div>
            <div class="author-name">Author: <a data-file="027-download" href="https://www.flaticon.com/authors/pixel-perfect">Pixel perfect</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-north"></div>
            <div class="class-name">.flaticon-north</div>
            <div class="author-name">Author: <a data-file="028-north" href="https://www.flaticon.com/authors/vaadin">Vaadin</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-family"></div>
            <div class="class-name">.flaticon-family</div>
            <div class="author-name">Author: <a data-file="029-family" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-dog"></div>
            <div class="class-name">.flaticon-dog</div>
            <div class="author-name">Author: <a data-file="030-dog" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-pet"></div>
            <div class="class-name">.flaticon-pet</div>
            <div class="author-name">Author: <a data-file="031-pet" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-cat"></div>
            <div class="class-name">.flaticon-cat</div>
            <div class="author-name">Author: <a data-file="032-cat" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-fridge"></div>
            <div class="class-name">.flaticon-fridge</div>
            <div class="author-name">Author: <a data-file="033-fridge" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-dishwasher"></div>
            <div class="class-name">.flaticon-dishwasher</div>
            <div class="author-name">Author: <a data-file="034-dishwasher" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-stove"></div>
            <div class="class-name">.flaticon-stove</div>
            <div class="author-name">Author: <a data-file="035-stove" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-microwave"></div>
            <div class="class-name">.flaticon-microwave</div>
            <div class="author-name">Author: <a data-file="036-microwave" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-dryer"></div>
            <div class="class-name">.flaticon-dryer</div>
            <div class="author-name">Author: <a data-file="037-dryer" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-warehouse"></div>
            <div class="class-name">.flaticon-warehouse</div>
            <div class="author-name">Author: <a data-file="038-warehouse" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-parking"></div>
            <div class="class-name">.flaticon-parking</div>
            <div class="author-name">Author: <a data-file="039-parking" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-monitor"></div>
            <div class="class-name">.flaticon-monitor</div>
            <div class="author-name">Author: <a data-file="040-monitor" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-stadium"></div>
            <div class="class-name">.flaticon-stadium</div>
            <div class="author-name">Author: <a data-file="041-stadium" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-beauty"></div>
            <div class="class-name">.flaticon-beauty</div>
            <div class="author-name">Author: <a data-file="042-beauty" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-playground"></div>
            <div class="class-name">.flaticon-playground</div>
            <div class="author-name">Author: <a data-file="043-playground" href="https://www.flaticon.com/authors/mynamepong">mynamepong</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-shop"></div>
            <div class="class-name">.flaticon-shop</div>
            <div class="author-name">Author: <a data-file="044-shop" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-child"></div>
            <div class="class-name">.flaticon-child</div>
            <div class="author-name">Author: <a data-file="045-child" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-car"></div>
            <div class="class-name">.flaticon-car</div>
            <div class="author-name">Author: <a data-file="046-car" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-squash"></div>
            <div class="class-name">.flaticon-squash</div>
            <div class="author-name">Author: <a data-file="047-squash" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-chat"></div>
            <div class="class-name">.flaticon-chat</div>
            <div class="author-name">Author: <a data-file="048-chat" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-gym"></div>
            <div class="class-name">.flaticon-gym</div>
            <div class="author-name">Author: <a data-file="049-gym" href="https://www.flaticon.com/authors/elias-bikbulatov">Elias Bikbulatov</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-tennis-court"></div>
            <div class="class-name">.flaticon-tennis-court</div>
            <div class="author-name">Author: <a data-file="050-tennis-court" href="https://www.flaticon.com/authors/vignesh-oviyan">Vignesh Oviyan</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-childhood"></div>
            <div class="class-name">.flaticon-childhood</div>
            <div class="author-name">Author: <a data-file="051-childhood" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-swimming-pool"></div>
            <div class="class-name">.flaticon-swimming-pool</div>
            <div class="author-name">Author: <a data-file="052-swimming-pool" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-restaurant"></div>
            <div class="class-name">.flaticon-restaurant</div>
            <div class="author-name">Author: <a data-file="053-restaurant" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-birthday"></div>
            <div class="class-name">.flaticon-birthday</div>
            <div class="author-name">Author: <a data-file="054-birthday" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-water"></div>
            <div class="class-name">.flaticon-water</div>
            <div class="author-name">Author: <a data-file="055-water" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-laundry"></div>
            <div class="class-name">.flaticon-laundry</div>
            <div class="author-name">Author: <a data-file="056-laundry" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-spa"></div>
            <div class="class-name">.flaticon-spa</div>
            <div class="author-name">Author: <a data-file="057-spa" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-hot-tub"></div>
            <div class="class-name">.flaticon-hot-tub</div>
            <div class="author-name">Author: <a data-file="058-hot-tub" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-food-and-restaurant"></div>
            <div class="class-name">.flaticon-food-and-restaurant</div>
            <div class="author-name">Author: <a data-file="059-food-and-restaurant" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-seniors"></div>
            <div class="class-name">.flaticon-seniors</div>
            <div class="author-name">Author: <a data-file="060-seniors" href="https://www.flaticon.com/authors/user">User</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-mail"></div>
            <div class="class-name">.flaticon-mail</div>
            <div class="author-name">Author: <a data-file="061-mail" href="https://www.flaticon.com/authors/graphicsbay">GraphicsBay</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-phone"></div>
            <div class="class-name">.flaticon-phone</div>
            <div class="author-name">Author: <a data-file="062-phone" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-furniture-and-household"></div>
            <div class="class-name">.flaticon-furniture-and-household</div>
            <div class="author-name">Author: <a data-file="063-furniture-and-household" href="https://www.flaticon.com/authors/kank">kank</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-idea"></div>
            <div class="class-name">.flaticon-idea</div>
            <div class="author-name">Author: <a data-file="064-idea" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-miscellaneous"></div>
            <div class="class-name">.flaticon-miscellaneous</div>
            <div class="author-name">Author: <a data-file="065-miscellaneous" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-telephone"></div>
            <div class="class-name">.flaticon-telephone</div>
            <div class="author-name">Author: <a data-file="066-telephone" href="https://www.flaticon.com/authors/iconnice">Iconnice</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-shield"></div>
            <div class="class-name">.flaticon-shield</div>
            <div class="author-name">Author: <a data-file="067-shield" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-food"></div>
            <div class="class-name">.flaticon-food</div>
            <div class="author-name">Author: <a data-file="068-food" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-open-book"></div>
            <div class="class-name">.flaticon-open-book</div>
            <div class="author-name">Author: <a data-file="069-open-book" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-heart"></div>
            <div class="class-name">.flaticon-heart</div>
            <div class="author-name">Author: <a data-file="070-heart" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-billiard"></div>
            <div class="class-name">.flaticon-billiard</div>
            <div class="author-name">Author: <a data-file="071-billiard" href="http://www.freepik.com">Freepik</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-speech-bubble"></div>
            <div class="class-name">.flaticon-speech-bubble</div>
            <div class="author-name">Author: <a data-file="072-speech-bubble" href="https://www.flaticon.com/authors/iconnice">Iconnice</a> </div>
        </div>

        <div class="glyph"><div class="glyph-icon flaticon-chimney"></div>
            <div class="class-name">.flaticon-chimney</div>
            <div class="author-name">Author: <a data-file="073-chimney" href="http://www.freepik.com">Freepik</a> </div>
        </div>

    </section>










</div>
