html {
    font-size: 100%;
    /* 16px */

    @include if-min-width($XXL) {
        font-size: 125%;
        /* 20px */
    }
}

html,
body {
    -webkit-overflow-scrolling: touch !important;
    -ms-overflow-x: hidden;
    // overflow: auto !important;
    // height: 100% !important;
}

body {
    background-color: $base-bg;
    font-family: $base-font-family;
    color: $text-color;
    font-weight: $base-font-weight;
    width: 100%;
    margin: 0 auto;
    position: relative;
    line-height: $base-line-height;
    font-size: $base-font-size;
}

// This is used for push panels in main nav since nav is absolute over the banner.
.wrapper {
    position: relative;

    main {
        overflow: hidden;
        background-color: white;
    }
}

.iframe-wrapper {
    margin-top: 0 !important;
}

.iframe-wrapper iframe {
    //margin-top: -100px;
}

@include if-min-width($MNS) {
    .iframe-wrapper {
        margin-top: 0;
    }

    .iframe-wrapper iframe {
        margin-top: 100px;
    }
}


#iFrameInstance {
    border: none;
    overflow: hidden;
}

// One off for mobile header to show


main {

    >.advanced-filters:first-child {
        margin-top: -100px;

        @include if-min-width($XM) {
            margin-top: 0;
        }
    }

}

/* Bootstrap Grid Overrides */
.container {
    // might need to adjust padding to match comps, leaving as default for now
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @include if-min-width($M) {
        width: 750px;
    }

    @include if-min-width($XM) {
        width: 970px;
    }

    @include if-min-width($L) {
        width: 1170px;
    }
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @include if-min-width($M) {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.content-wrapper {

    &.with-padding {
        @include if-min-width($M) {
            padding: 3rem 0;
        }
    }

    &.blue-bg {
        background: $blue;
        color: #fff;
    }

    &.grey-bg {
        background: #eee;
    }

    &.black-bg {
        background: #000;
        color: #fff;
    }
}

.bottom-arrow {
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;

        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #eee;

        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    &.blue-bg,
    &.blue {
        &::after {
            border-top: 20px solid $blue;
        }
    }

    &.black-bg,
    &.black {
        &::after {
            border-top: 20px solid #000;
        }
    }

    &.white-bg,
    &.white {
        &::after {
            border-top: 20px solid white;
        }
    }
}

.top-arrow {
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #ffffff;
        top: -2px;
        left: 50%;
        transform: translateX(-50%);

        @include if-min-width($XXL) {
            top: -25px;
        }
    }

    #applyPosition & {
        top: -95px;
    }
}

.reveal-arrow {
    position: relative;

    &[aria-expanded="true"]::before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #000;
        top: 120%;
        left: 50%;
        transform: translateX(-50%);
    }

}

.lightgrey-bg {
    background: #eee;
}

.white-bg {
    background: white !important;
}

.blue {
    color: $blue;
}

.black,
.black:before,
.black:after {
    color: black;
}

.blockquote-footer{
    background-color: transparent!important;
}
// Property Search Block

.property-search-block {
    .icon-btn.icon-btn {
        width: 4em;
    }
}

.property-search-block .justify-content-center .col-sm-6 {
    @media (max-width: 767px) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
