// adapted from http://jakearchibald.github.io/sass-ie/
@mixin if-min-width($width) {
  // If outputting for a fixed media query set...
  @if $fixed-width {
    // ...and if we should apply these rules...
    @if $fixed-width >= $width {
      // ...output the content the user gave us.
      @content;
    }
  }
  @else {
    // Otherwise, output it using a regular media query
    @media screen and (min-width: $width) {
      @content;
    }
  }
}

// IE only
@mixin if-IE() {
    @media all and (-ms-high-contrast:none) {
        @content;
    }
}

@mixin if-between($min-width,$max-width) {
  // If outputting for a fixed media query set...
  @if $fixed-width {
    // ...and if we should apply these rules...
    @if ( $fixed-width >= $min-width and $fixed-width <= $max-width ){
      // ...output the content the user gave us.
      @content;
    }
  }
  @else {
    // Otherwise, output it using a regular media query
    @media screen and (min-width: $min-width) and (max-width: $max-width){
      @content;
    }
  }
}

// adapted from http://jakearchibald.github.io/sass-ie/
@mixin if-min-height($height) {
  // If outputting for a fixed media query set...
  @if $fixed-height {
    // ...and if we should apply these rules...
    @if $fixed-height >= $height {
      // ...output the content the user gave us.
      @content;
    }
  }
  @else {
    // Otherwise, output it using a regular media query
    @media screen and (min-height: $height) {
      @content;
    }
  }
}

// Functions
//@function em($px, $base: $font-size-base) {
//  @return ($px / $base) * 1em;
//}

// Function to test background colour and set text accordingly (dark vs. light)
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000000; // Lighter backgorund, return dark color
  } @else {
    @return #ffffff; // Darker background, return light color
  }
}

@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin transition($transition) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin box-shadow($properties) {
  -moz-box-shadow: $properties;
  -webkit-box-shadow: $properties;
  box-shadow: $properties;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin opacity($opacity) {
  $opacity_integer: round($opacity*100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity_integer})";
  filter: alpha(opacity=$opacity_integer);
  -moz-opacity: $opacity;
  -khtml-opacity: $opacity;
  opacity: $opacity;
}

@mixin flaticon($content) {
  content: $content;
  font-family: 'Flaticon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: inline-block;
}

@mixin glyphicon($content) {
  content: $content;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: 1px;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin twitter-bootstrap-button() {
  /* Twitter Bootstrap styling */
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  @include if-min-width($S) {
white-space: nowrap;
  }
}

@mixin boardwalk-button($bg, $bottom, $text, $texthover: $text, $padding: 15px 25px 15px) {
    background-color: $bg;
    border: 1px solid $black;
    border-bottom: 5px solid $bottom !important;
    border-radius: 0;
    color: $text;
    display: inline-block;
    font-family: $futura;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding: $padding;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
        background-color: darken($bg, 25%);
        border-bottom: 5px solid $bottom;
        color: darken($texthover, 20%);
    }
}
