header {

    a:focus,
    button:focus {
        outline: 0 !important;
        border-bottom: 2px solid #fff !important;
        padding-bottom: 2px;
    }

    .logo a {
        padding-bottom: 25px;
    }

    .open-search {
        border-bottom: 2px solid transparent;
        padding-bottom: 2px;
    }

    .login-link:focus,
    .open-search:focus {
        border-bottom: 2px solid #fff !important;
    }
}

.skip-link:focus,
.skip-link:active {
    display: block;
    padding: 15px;
    padding: 1.5rem;
    text-align: center;
    color: #005eb8;
    background: #fff;
    font-size: 0.95rem;
    font-weight: 700;
    text-decoration: underline;
    border-bottom: 1px solid #85a0b5;
    text-transform: uppercase;
    font-family: "futura-pt", sans-serif;
}

#m-nav-panel-find,
#m-nav-panel-aboutus {
    .input-search-container:focus-within {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);

        input {
            box-shadow: none;
        }
    }

    a:focus {
        outline: none;
        border-bottom: 2px solid #000 !important;
        padding-bottom: 2px;
    }

    button:focus {
        outline: 0 !important;
        border-bottom: 2px solid #000 !important;
        padding-bottom: 2px;
    }
}

*:active {
    outline: 0 !important;
}

img {
    margin: 1em 0;
    display: block;
    height: auto;
    max-width: 100%;

    &.lazyload:empty {
        background: url(/assets/images/svgs/placeholder_logo.svg) white;
        background-repeat: no-repeat;
        background-origin: content-box;
        display: block;
        background-position: center;
        background-size: 100%;
    }
}

picture.responsive-image {
    position: relative;
    width: 100%;
    min-height: 100% !important;

    img {
        margin: 0 auto;
        min-width: 100% !important;
        min-height: 100% !important;
        max-width: 100% !important;
        max-height: none !important;
        height: inherit !important;
        object-fit: cover;
        font-family: 'object-fit: cover;';
    }

    &:parent {
        display: inline;
    }
}

.image-caption {
    width: 100%;
    background: #000;
    color: $white;
    padding: 1.5rem 2rem 2.5rem 2rem;
    text-align: center;

    p {
        font-size: 1rem;
        font-family: $futura;
        font-weight: 100;
        line-height: 1.5;

        &:only-child {
            margin: 0;
        }
    }
}

.image-caption {
    width: 100%;
    background: #000;
    color: $white;
    padding: 0.85rem 1rem 1rem;
    text-align: center;
    bottom: 0;
    position: absolute;

    p {
        font-size: 1rem;
        font-family: $futura;
        font-weight: 100;
        line-height: 1.5;

        &:only-child {
            margin: 0;
        }
    }
}

.lazyload:empty {
    background: url(/assets/images/svgs/placeholder_logo.svg) white;
    background-repeat: no-repeat;
    background-origin: content-box;
    display: block;
    background-position: center;
    background-size: 100%;
}

@font-face {
    font-family: 'placeholder_logo';
    src: url('../images/images/svgs/placeholder_logo.svg') format('svg');
}

/* Responsive Youtube videos in iframes */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// Bootstrapy type stuff
.no-padding {
    padding: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.padding {
    padding-left: 30px !important;
    padding-right: 30px !important;

    @include if-min-width($M) {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

// Style HRs
hr {
    position: relative;
    border-top: 1px solid $hr-color;

    &.white {
        border-top-color: $white;
    }

    &.lightgrey {
        border-top-color: $lightgrey;
    }

    &.ltrgrey {
        border-top-color: #eee;
    }

    &.lightblue {
        border-top-color: $lightblue;
    }

}

// Font Classes
.futura {
    font-family: $futura;
}

.source-sans-pro {
    font-family: $source-sans-pro;
}

// Text Classes

.white {
    color: $white;
}


.white-bgColor {

    .arrow-link,
    .arrow-link:after {
        color: $black;
    }
}

// background color classes
.bg {

    &-white {
        background: $white;
        color: $black !important;
    }

    &-grey {
        background: $lightgrey;
    }

    &-lightgrey {
        background: #eee;
    }

    &-lightblue {
        background: $lightblue;
        color: $white;
    }

    &-blue {
        background: $blue;
        color: $white;
    }

    &-darkblue {
        background: $darkblue;
        color: $white;
    }

    &-black {
        background: $black;
        color: $white;
    }

    &-red {
        background: $red;
        color: $white;
    }

    &-orange {
        background: $orange;
        color: $white;
    }

    &-yellow {
        background: $yellow;
        color: $black;
    }


    &-bluegrey {
        background-color: #eef1f3;
    }
}

.lifestyle-branding {
    .primary-brandColor {
        background: $brand-lifestyle-1;
        color: $white;

        a {
            color: $white;
        }
    }

    .secondary-brandColor {
        background: $brand-lifestyle-2;
        color: $white;

        a {
            color: $white;
        }
    }

    .tertiary-brandColor {
        background: $brand-lifestyle-3;
        color: $white;
    }

    .primary-brandBorder {
        border-color: $brand-lifestyle-1;

        a {
            color: $white;
        }
    }

    .secondary-brandBorder {
        border-color: $brand-lifestyle-2;

        a {
            color: $white;
        }
    }

    .tertiary-brandBorder {
        border-color: $brand-lifestyle-3;
    }
}

.communities-branding {
    .primary-brandColor {
        background: $brand-comm-1;
        color: $white;
    }

    .secondary-brandColor {
        background: $brand-comm-2;
        color: $white;
    }

    .tertiary-brandColor {
        background: $brand-comm-3;
        color: $white;
    }

    .primary-brandBorder {
        border-color: $brand-comm-1;
    }

    .secondary-brandBorder {
        border-color: $brand-comm-2;
    }

    .tertiary-brandBorder {
        border-color: $brand-comm-3;
    }
}

.living-branding {
    .primary-brandColor {
        background: $brand-living-1;
        color: $white;
    }

    .secondary-brandColor {
        background: $brand-living-2;
        color: $white;
    }

    .tertiary-brandColor {
        background: $brand-living-3;
        color: $white;
    }

    .primary-brandBorder {
        border-color: $brand-living-1;
    }

    .secondary-brandBorder {
        border-color: $brand-living-2;
    }

    .tertiary-brandBorder {
        border-color: $brand-living-3;
    }
}


.lifestyle {
    &-primary-bgColor {
        background: $brand-lifestyle-1;
        color: $white;

        & a,
        & a::after,
        & a.arrow-link,
        & a.arrow-link::after,
        & a.arrow-link::before,
        & a.back-link,
        & a.back-link::after,
        & a.back-link::before {
            color: inherit;

            &:hover {
                color: darken($white, 20%);
            }

        }
    }

    &-secondary-bgColor {
        background: $brand-lifestyle-2;
        color: $white;

        & a,
        & a::after,
        & a.arrow-link,
        & a.arrow-link::after,
        & a.arrow-link::before,
        & a.back-link,
        & a.back-link::after,
        & a.back-link::before {
            color: inherit;

            &:hover {
                color: darken($white, 20%);
            }
        }
    }

    &-tertiary-bgColor {
        background: $brand-lifestyle-3;
        color: $white;

        & a,
        & a::after,
        & a.arrow-link,
        & a.arrow-link::after,
        & a.arrow-link::before,
        & a.back-link,
        & a.back-link::after,
        & a.back-link::before {
            color: inherit;

            &:hover {
                color: darken($white, 20%);
            }
        }
    }
}

.communities {
    &-primary-bgColor {
        background: $brand-comm-1;
        color: $white;

        & a,
        & a::after,
        & a.arrow-link,
        & a.arrow-link::after,
        & a.arrow-link::before,
        & a.back-link,
        & a.back-link::after,
        & a.back-link::before {
            color: inherit;

            &:hover {
                color: darken($white, 20%);
            }
        }
    }

    &-secondary-bgColor {
        background: $brand-comm-2;
        color: $white;

        & a,
        & a::after,
        & a.arrow-link,
        & a.arrow-link::after,
        & a.arrow-link::before,
        & a.back-link,
        & a.back-link::after,
        & a.back-link::before {
            color: inherit;

            &:hover {
                color: darken($white, 20%);
            }
        }
    }

    &-tertiary-bgColor {
        background: $brand-comm-3;
        color: $white;

        & a,
        & a::after,
        & a.arrow-link,
        & a.arrow-link::after,
        & a.arrow-link::before,
        & a.back-link,
        & a.back-link::after,
        & a.back-link::before {
            color: inherit;

            &:hover {
                color: darken($white, 20%);
            }
        }
    }
}

.living {
    &-primary-bgColor {
        background: $brand-living-1;
        color: $white;

        & a,
        & a::after,
        & a.arrow-link,
        & a.arrow-link::after,
        & a.arrow-link::before,
        & a.back-link,
        & a.back-link::after,
        & a.back-link::before {
            color: inherit;

            &:hover {
                color: darken($white, 20%);
            }
        }
    }

    &-secondary-bgColor {
        background: $brand-living-2;
        color: $white;

        & a,
        & a::after,
        & a.arrow-link,
        & a.arrow-link::after,
        & a.arrow-link::before,
        & a.back-link,
        & a.back-link::after,
        & a.back-link::before {
            color: inherit;

            &:hover {
                color: darken($white, 20%);
            }
        }
    }

    &-tertiary-bgColor {
        background: $brand-living-3;
        color: $black;

        & a,
        & a::after,
        & a.arrow-link,
        & a.arrow-link::after,
        & a.arrow-link::before,
        & a.back-link,
        & a.back-link::after,
        & a.back-link::before {
            color: inherit;

            &:hover {
                color: darken($white, 20%);
            }
        }

    }
}


// for the instances where margin bottom is needed SOME of the time...
.mb-10 {
    margin-bottom: 6rem !important;
}

.video-modal {
    &::after {
        content: '\e91e';
        color: #fff;
        display: block;
        position: absolute;
        font-size: 5rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
    }
}

.close:focus,
.close:hover,
.close-search:focus,
.close-search:hover {
    color: #a6192e !important;
    border-bottom: 2px solid transparent !important;
}

.icon-search:focus {
    border-bottom: 2px solid #000 !important;
}

.slick-slide .imageCrop-sm,
.imageCrop-sm {
    display: block;
}

.slick-slide .imageCrop-lg,
.slick-slide .imageCrop-md,
.imageCrop-lg,
.imageCrop-md {
    display: none
}

.slick-slide img[data-lazy] {
    width: 0;
    height: 0;
}

@include if-min-width($M) {

    .slick-slide .imageCrop-md,
    .imageCrop-md {
        display: block;
    }

    .slick-slide .imageCrop-lg,
    .slick-slide .imageCrop-sm,
    .imageCrop-lg,
    .imageCrop-sm {
        display: none
    }
}

@include if-min-width($L) {

    .slick-slide .imageCrop-lg,
    .imageCrop-lg {
        display: block;
    }

    .slick-slide .imageCrop-md,
    .slick-slide .imageCrop-sm,
    .imageCrop-md,
    .imageCrop-sm {
        display: none
    }
}
