<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }} | {{ company.name }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./../assets/vendor/icomoon/style.css">
    
    <link rel="stylesheet" href="../../assets/css/styles.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../assets/css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
    
    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->
  
  </head>
  <body class="{{ bodyClass }}">
    
