  
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
  <script type="text/javascript" src="/js/nav.js"></script>
  <script type="text/javascript" src="/js/progress.js"></script>
  <script type="text/javascript" src="/js/overlay.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBntC0Lhs3eQ5K9qnkvCqLzOU3YKv4QS4s"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="../../assets/js/jquery-ui.min.js"></script>
    <script src="../../assets/js/popper.min.js"></script>
    <script src="../../assets/js/magnific-popup.js"></script>
    <script src="../../assets/js/slick.js"></script>
    <script src="../../assets/js/jquery.tablesorter.min.js"></script>
    <script src="../../assets/js/maps.js"></script>
    <script src="../../assets/js/ofi.min.js"></script>



  </body>
</html>
