<div id="mobile-nav-container">
    <header class="mobile-header d-flex justify-content-between">
        <div class="d-flex align-items-center mobile-header__logo">{{>atoms-logo}}</div>
        <div class="d-flex align-items-center">{{>atoms-close-button}}</div>
    </header> <!--/.mobile-header-->
    {{>atoms-hr}}
    <nav role="navigation">
        <ul class="list-unstyled ul-mobile-nav" id="accordion" role="tablist" aria-multiselectable="true">
            <li role="tab">{{>molecules-search-container(form-id:"form-search-mobile",form-field-search-placeholder:"Search",form-field-search-id:"mnav-search")}}</li>
            <li role="tab" class=""> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#ul-mobile-nav__find" aria-expanded="false" aria-controls="ul-mobile-nav__find">Find Your Home <i class="icon-ctrl"></i></a>
                <div id="ul-mobile-nav__find" class="collapse" role="tabpanel">
                    {{>molecules-search-container(form-id:"form-find-your-home-mobile",form-field-search-placeholder:"Choose Your City")}}
                    <p>{{> atoms-arrow-link:white(arrow-link-text:"Advanced Search")}}</p>
                    <p class="white">Or, select your province instead:</p>
                    <div id="province-city-accordion" class="btn-group-cities" role="group" aria-label="select your province">
                        <button id="btn-alberta-cities-mobile" class="btn btn-primary white collapsed" type="button" data-toggle="collapse" data-target="#city-alberta-mobile" aria-expanded="false" aria-controls="city-alberta-mobile">Alberta</button>
                        <div id="city-alberta-mobile" class="collapse" data-parent="#province-city-accordion">
                            <div class="arrow-up"></div>
                            <ul class="list-unstyled ul-cities d-flex flex-row flex-wrap">
                                <li class="p-2"><a href="#">Airdrie</a></li>
                                <li class="p-2"><a href="#">Banff</a></li>
                                <li class="p-2"><a href="#">Calgary</a></li>
                                <li class="p-2"><a href="#">Edmonton</a></li>
                                <li class="p-2"><a href="#">Fort McMurray</a></li>
                                <li class="p-2"><a href="#">Grand Prairie</a></li>
                                <li class="p-2"><a href="#">Red Deer</a></li>
                                <li class="p-2"><a href="#">Spruce Grove</a></li>
                                <li class="p-2"><a href="#">St. Albert</a></li>
                            </ul><!--/.ul-cities-->
                        </div> <!--/#city-alberta-mobile-->

                        <button id="btn-ontario-cities-mobile" class="btn btn-primary white collapsed" type="button" data-toggle="collapse" data-target="#city-ontario-mobile" aria-expanded="false" aria-controls="city-ontario-mobile">Ontario</button>
                        <div id="city-ontario-mobile" class="collapse" data-parent="#province-city-accordion">
                            <div class="arrow-up"></div>
                            <ul class="list-unstyled ul-cities d-flex flex-row flex-wrap">
                                <li class="p-2"><a href="#">City name</a></li>
                                <li class="p-2"><a href="#">City name</a></li>
                                <li class="p-2"><a href="#">City name</a></li>
                                <li class="p-2"><a href="#">City name</a></li>
                                <li class="p-2"><a href="#">City name</a></li>
                                <li class="p-2"><a href="#">City name</a></li>
                                <li class="p-2"><a href="#">City name</a></li>
                                <li class="p-2"><a href="#">City name</a></li>
                                <li class="p-2"><a href="#">City name</a></li>
                            </ul><!--/.ul-cities-->
                        </div> <!--/#city-ontario-mobile-->

                        <button id="btn-quebec-cities-mobile" class="btn btn-primary white collapsed" type="button" data-toggle="collapse" data-target="#city-quebec-mobile" aria-expanded="false" aria-controls="city-quebec-mobile">Quebec</button>
                        <div id="city-quebec-mobile" class="collapse" data-parent="#province-city-accordion">
                            <div class="arrow-up"></div>
                            <ul class="list-unstyled ul-cities d-flex flex-row flex-wrap">
                                <li class="p-2"><a href="#">City name</a></li>
                                <li class="p-2"><a href="#">City name</a></li>
                                <li class="p-2"><a href="#">City name</a></li>
                                <li class="p-2"><a href="#">City name</a></li>
                                <li class="p-2"><a href="#">City name</a></li>
                                <li class="p-2"><a href="#">City name</a></li>
                                <li class="p-2"><a href="#">City name</a></li>
                                <li class="p-2"><a href="#">City name</a></li>
                                <li class="p-2"><a href="#">City name</a></li>
                            </ul><!--/.ul-cities-->
                        </div> <!--/#city-quebec-mobile-->

                        <button id="btn-saskatchewan-cities-mobile" class="btn btn-primary white collapsed" type="button" data-toggle="collapse" data-target="#city-saskatchewan-mobile" aria-expanded="false" aria-controls="city-saskatchewan-mobile">Saskatchewan</button>
                        <div id="city-saskatchewan-mobile" class="collapse" data-parent="#province-city-accordion">
                            <div class="arrow-up"></div>
                            <ul class="list-unstyled ul-cities d-flex flex-row flex-wrap">
                                <li class="p-2"><a href="#">City name</a></li>
                                <li class="p-2"><a href="#">City name</a></li>
                                <li class="p-2"><a href="#">City name</a></li>
                                <li class="p-2"><a href="#">City name</a></li>
                                <li class="p-2"><a href="#">City name</a></li>
                                <li class="p-2"><a href="#">City name</a></li>
                                <li class="p-2"><a href="#">City name</a></li>
                                <li class="p-2"><a href="#">City name</a></li>
                                <li class="p-2"><a href="#">City name</a></li>
                            </ul><!--/.ul-cities-->
                        </div> <!--/#city-saskatchewan-mobile-->
                    </div>
                </div>
            </li> <!--/.panel-->
            <li role="tab"><a href="#">Experience Boardwalk</a></li>
            <li role="tab"><a href="#">Our Stories</a></li>
            <li role="tab"><a href="#">Careers</a></li>
            <li role="tab" class=""><a href="#">Investors</a>
               <!-- <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#ul-mobile-nav__investors" aria-expanded="false" aria-controls="ul-mobile-nav__investors">Investors <i class="icon-ctrl"></i></a>
                <div id="ul-mobile-nav__investors" class="collapse" role="tabpanel">
                    {{>organisms-icon-navigation}}
                </div> -->
            </li>
            <li role="tab">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#ul-mobile-nav__aboutus" aria-expanded="false" aria-controls="ul-mobile-nav__about-us">About Us <i class="icon-ctrl"></i></a>
                <div id="ul-mobile-nav__aboutus" class="collapse" role="tabpanel">

                            <ul class="list-unstyled icon-navigation d-flex flex-row justify-content-between align-items-start flex-wrap ">
                                <li>
                                    <a href="#">Our Story</a>
                                </li>
                                <li>
                                    <a href="#">Our Why</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>


                </div>
            </li>

            <li role="tab" class="btn-mobile-login">{{>atoms-primary-button:white(primary-button-text:"Resident Member Login")}}</li>
            <li role="tab" class="border-top lang"><a href="#">Fran&ccedil;ais</a></li>
        </ul> <!--/.ul-mobile-nav-->
    </nav>
</div>
