<div id="m-nav-panel-aboutus" class="container-fluid aboutus-icon-navigation">
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <ul class="list-unstyled icon-navigation d-flex flex-row justify-content-between align-items-start flex-wrap ">
                <li>
                    {{>atoms-icon-link(icon-link-url:"#", icon-link-icon-class:"flaticon-open-book", icon-link-text:"Our Story")}}
                </li>
                <li>
                    {{>atoms-icon-link(icon-link-url:"#", icon-link-icon-class:"flaticon-heart", icon-link-text:"Our Why")}}
                </li>
                <li>
                    {{>atoms-icon-link(icon-link-url:"#", icon-link-icon-class:"flaticon-comment", icon-link-text:"Contact")}}
                </li>
            </ul>
        </div>
    </div> <!--/.row-->
  </div>
  {{>atoms-close-button}}
</div> <!--/#m-nav-panel-investors-->
