<div class="row justify-content-center">
    <div class="col-12 col-md-8">
        <div id="city-alberta" class="cities-dropdown">
            <div class="arrow-up"></div>
            <ul class="ul-cities d-flex flex-row flex-wrap">
                <li class="p-2"><a href="#">Airdrie</a></li>
                <li class="p-2"><a href="#">Banff</a></li>
                <li class="p-2"><a href="#">Calgary</a></li>
                <li class="p-2"><a href="#">Edmonton</a></li>
                <li class="p-2"><a href="#">Fort McMurray</a></li>
                <li class="p-2"><a href="#">Grand Prairie</a></li>
                <li class="p-2"><a href="#">Red Deer</a></li>
                <li class="p-2"><a href="#">Spruce Grove</a></li>
                <li class="p-2"><a href="#">St. Albert</a></li>
            </ul><!--/.ul-cities-->
        </div> <!--/#city-alberta-->

        <div id="city-ontario" class="cities-dropdown">
            <div class="arrow-up"></div>
            <ul class="ul-cities d-flex flex-row flex-wrap">
                <li class="p-2"><a href="#">City name</a></li>
                <li class="p-2"><a href="#">City name</a></li>
                <li class="p-2"><a href="#">City name</a></li>
                <li class="p-2"><a href="#">City name</a></li>
                <li class="p-2"><a href="#">City name</a></li>
                <li class="p-2"><a href="#">City name</a></li>
                <li class="p-2"><a href="#">City name</a></li>
                <li class="p-2"><a href="#">City name</a></li>
                <li class="p-2"><a href="#">City name</a></li>
            </ul><!--/.ul-cities-->
        </div> <!--/#city-ontario-->

        <div id="city-quebec" class="cities-dropdown">
            <div class="arrow-up"></div>
            <ul class="ul-cities d-flex flex-row flex-wrap">
                <li class="p-2"><a href="#">City name</a></li>
                <li class="p-2"><a href="#">City name</a></li>
                <li class="p-2"><a href="#">City name</a></li>
                <li class="p-2"><a href="#">City name</a></li>
                <li class="p-2"><a href="#">City name</a></li>
                <li class="p-2"><a href="#">City name</a></li>
                <li class="p-2"><a href="#">City name</a></li>
                <li class="p-2"><a href="#">City name</a></li>
                <li class="p-2"><a href="#">City name</a></li>
            </ul><!--/.ul-cities-->
        </div> <!--/#city-quebec-->

        <div id="city-saskatchewan" class="cities-dropdown">
            <div class="arrow-up"></div>
            <ul class="ul-cities d-flex flex-row flex-wrap">
                <li class="p-2"><a href="#">City name</a></li>
                <li class="p-2"><a href="#">City name</a></li>
                <li class="p-2"><a href="#">City name</a></li>
                <li class="p-2"><a href="#">City name</a></li>
                <li class="p-2"><a href="#">City name</a></li>
                <li class="p-2"><a href="#">City name</a></li>
                <li class="p-2"><a href="#">City name</a></li>
                <li class="p-2"><a href="#">City name</a></li>
                <li class="p-2"><a href="#">City name</a></li>
            </ul><!--/.ul-cities-->
        </div> <!--/#city-saskatchewan-->
    </div>
</div> <!--/.row-->
