<div class="advanced-filters">

    <div{{# propertyFilters.showAccordion }} id="filterAccordion"{{/ propertyFilters.showAccordion }}>
        <div class="advanced-filters-container">
            {{# propertyFilters.showAccordion }}
            <div class="advanced-filters-toggle">
                <h5 class="mb-0 text-center">
                    {{^ propertyFilters.hiddenDesktop }}
                      <button data-toggle="collapse" data-target="#advancedFilterCollapse" data-parent="#filterAccordion" aria-expanded="true" aria-controls="advancedFilterCollapse">
                          Filter
                      </button>
                    {{/ propertyFilters.hiddenDesktop }}
                </h5>
            </div>
            {{/ propertyFilters.showAccordion }}

            <div {{# propertyFilters.showAccordion }}id="advancedFilterCollapse"{{/ propertyFilters.showAccordion }} class="collapse show" role="tabpanel" aria-label="Advanced filters">
                <div class="card-block">
                    <div class="container mt-4">
                        <form>
                            <div class="row justify-content-center">
                                <div class="col-12 col-md-3 col-lg-4">
                                    {{> atoms-input-text:form-control|form-control-lg(form-field-text-placeholder:"Choose Your City",form-field-text-id:"filter-choose-your-city")}}
                                </div>
                                <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                                    {{> atoms-select:form-control|form-control-lg(form-field-select-placeholder:"Suite Type",form-field-select-id:"filter-suite-type")}}
                                </div>
                                <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                                    {{> atoms-select:form-control|form-control-lg(form-field-select-placeholder:"Your Budget",form-field-select-id:"filter-your-budget")}}
                                </div>
                            </div> <!--/.row-->
                            {{^ propertyFilters.advancedFilterHide }}
                            <div class="mb-3 text-center">
                                <a class="advanced-search-toggle" href="#" data-toggle="collapse" data-target="#showFullPropertyTypeRange" data-parent="#filterAccordion" aria-expanded="false" aria-controls="showFullPropertyTypeRange">
                                    Advanced Search
                                </a>
                            </div>
                            <div class="collapse" id="showFullPropertyTypeRange">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- blue horizontal rule -->
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="hr-blue hr-blue-col-2 mb-3">
                                                </div>
                                            </div>
                                        </div>
                                        <h3 class="secondary-heading">Utilities Included</h3>
                                        <div class="column-wrapper">
                                            <div class="feature-icon">
                                            {{> atoms-icon-toggle(icon-toggle-field-name:"Heat" ,icon-toggle-text:"Heat" ,icon-toggle-icon:"flaticon-furniture-and-household")}}
                                            </div>
                                            <div class="feature-icon">
                                            {{> atoms-icon-toggle(icon-toggle-field-name:"Water" ,icon-toggle-text:"Water" ,icon-toggle-icon:"flaticon-water")}}
                                            </div>
                                            <div class="feature-icon">
                                            {{> atoms-icon-toggle(icon-toggle-field-name:"Power" ,icon-toggle-text:"Power" ,icon-toggle-icon:"flaticon-idea")}}
                                            </div>
                                            <div class="feature-icon">
                                            {{> atoms-icon-toggle(icon-toggle-field-name:"Cable" ,icon-toggle-text:"Cable" ,icon-toggle-icon:"flaticon-monitor")}}
                                            </div>
                                        </div>
                                        <!-- blue horizontal rule -->
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="hr-blue hr-blue-col-2 mb-3">
                                                </div>
                                            </div>
                                        </div>
                                        <h3 class="secondary-heading">Furnishings</h3>
                                        <div class="column-wrapper">
                                            <div class="feature-icon">
                                            {{> atoms-icon-toggle(icon-toggle-field-name:"Fridge" ,icon-toggle-text:"Fridge" ,icon-toggle-icon:"flaticon-fridge")}}
                                            </div>
                                            <div class="feature-icon">
                                            {{> atoms-icon-toggle(icon-toggle-field-name:"Stove" ,icon-toggle-text:"Stove" ,icon-toggle-icon:"flaticon-stove")}}
                                            </div>
                                            <div class="feature-icon">
                                            {{> atoms-icon-toggle(icon-toggle-field-name:"Microwave" ,icon-toggle-text:"Microwave" ,icon-toggle-icon:"flaticon-microwave")}}
                                            </div>
                                            <div class="feature-icon">
                                            {{> atoms-icon-toggle(icon-toggle-field-name:"Dryer" ,icon-toggle-text:"Dryer" ,icon-toggle-icon:"flaticon-dryer")}}
                                            </div>
                                            <div class="feature-icon">
                                            {{> atoms-icon-toggle(icon-toggle-field-name:"Washer" ,icon-toggle-text:"Washer" ,icon-toggle-icon:"flaticon-laundry")}}
                                            </div>
                                            <div class="feature-icon">
                                            {{> atoms-icon-toggle(icon-toggle-field-name:"Air Conditioner" ,icon-toggle-text:"Air Conditioner" ,icon-toggle-icon:"flaticon-miscellaneous")}}
                                            </div>
                                            <div class="feature-icon">
                                            {{> atoms-icon-toggle(icon-toggle-field-name:"Dishwasher" ,icon-toggle-text:"Dishwasher" ,icon-toggle-icon:"flaticon-dishwasher")}}
                                            </div>
                                        </div>
                                        <!-- blue horizontal rule -->
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="hr-blue hr-blue-col-2 mb-3">
                                                </div>
                                            </div>
                                        </div>
                                        <h3 class="secondary-heading">Pets</h3>
                                        <div class="column-wrapper">
                                            <div class="feature-icon">
                                            {{> atoms-icon-toggle(icon-toggle-field-name:"Cats" ,icon-toggle-text:"Allows Cats" ,icon-toggle-icon:"flaticon-cat")}}
                                            </div>
                                            <div class="feature-icon">
                                            {{> atoms-icon-toggle(icon-toggle-field-name:"Dogs" ,icon-toggle-text:"Allows Dogs*" ,icon-toggle-icon:"flaticon-dog")}}
                                            </div>
                                            <div class="feature-icon">
                                            {{> atoms-icon-toggle(icon-toggle-field-name:"MixedPets" ,icon-toggle-text:"Ask About Pets" ,icon-toggle-icon:"flaticon-pet")}}
                                            </div>
                                        </div>
                                        <!-- blue horizontal rule -->
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="hr-blue hr-blue-col-2 mb-3">
                                                </div>
                                            </div>
                                        </div>
                                        <h3 class="secondary-heading">Features</h3>
                                        <div class="column-wrapper">
                                            <div class="feature-icon">
                                            {{> atoms-icon-toggle(icon-toggle-field-name:"Parking" ,icon-toggle-text:"Parking" ,icon-toggle-icon:"flaticon-parking")}}
                                            </div>
                                            <div class="feature-icon">
                                            {{> atoms-icon-toggle(icon-toggle-field-name:"Storage" ,icon-toggle-text:"Storage Room" ,icon-toggle-icon:"flaticon-warehouse")}}
                                            </div>
                                            <div class="feature-icon">
                                            {{> atoms-icon-toggle(icon-toggle-field-name:"On-site Security" ,icon-toggle-text:"On-site Security" ,icon-toggle-icon:"flaticon-shield")}}
                                            </div>
                                            <div class="feature-icon">{{> atoms-icon-toggle(icon-toggle-field-name:"RetirementCommunity" ,icon-toggle-text:"Retirement Community" ,icon-toggle-icon:"flaticon-seniors")}}</div>
                                            <div class="feature-icon">
                                            {{> atoms-icon-toggle(icon-toggle-field-name:"AllowChildren" ,icon-toggle-text:"Family Building" ,icon-toggle-icon:"flaticon-family")}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/ propertyFilters.advancedFilterHide }}
                            <div class="row advanced-filters-submit mb-5">
                                <div class="col-12 text-center">
                                    <button class="btn btn-primary" type="submit" value="{{ propertyFilters.submitButtonText }}">
                                        {{ propertyFilters.submitButtonText }}
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div> <!--/.container-->

                </div> <!--/.card-block-->
            </div> <!-- /#advancedFilters accordion -->
        </div>
    </div>

</div>
{{^ propertyFilters.filterBarHide }}
{{> molecules-active-filter-bar}}
{{/ propertyFilters.filterBarHide }}